
process {
    withName: 'GROTHLAB_CREPAS:CREPAS:TE_COUNTING:SAMTOOLS_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${meta.ref_total_mapped_reads_key == 'flT3_total_mapped_reads' ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/TE_counting/nsorted_bam/"
            },
            mode: params.publish_dir_mode,
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:TE_COUNTING:TECOUNT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${meta.ref_total_mapped_reads_key == 'flT3_total_mapped_reads' ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            // If sample is SCAR-seq or OK-seq (has te_counting_strandedness):
            // If strandedness is 'forward', use te_counting_strandedness as is;
            // If strandedness is 'reverse', reverse te_counting_strandedness;
            "${meta.exp_type in ['SCAR-seq', 'OK-seq']
                ? meta.strandedness == 'forward' ? '.' + meta.te_counting_strandedness
                    : meta.te_counting_strandedness == 'forward' ? '.reverse' : '.forward'
            : ''}" +
            ".TEcount"
        }
        ext.args   = { [
            "--stranded ${meta.te_counting_strandedness ?: 'no'}",
            "--mode ${params.te_counting_mode}",
            "--verbose 3"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/TE_counting/" +
                "/TEcount/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:TE_COUNTING:TELOCAL' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${meta.ref_total_mapped_reads_key == 'flT3_total_mapped_reads' ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            // If sample is SCAR-seq or OK-seq (has te_counting_strandedness):
            // If strandedness is 'forward', use te_counting_strandedness as is;
            // If strandedness is 'reverse', reverse te_counting_strandedness;
            "${meta.exp_type in ['SCAR-seq', 'OK-seq']
                ? meta.strandedness == 'forward' ? '.' + meta.te_counting_strandedness
                    : meta.te_counting_strandedness == 'forward' ? '.forward' : '.reverse'
            : ''}" +
            ".TElocal"
        }
        ext.args   = { [
            "--stranded ${meta.te_counting_strandedness ?: 'no'}",
            "--mode ${params.te_counting_mode}",
            "--verbose 3"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/TE_counting/" +
                "/TElocal/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

