
if (params.aligner == 'bwa') {
    process {
        withName: 'BWA_MEM' {
            ext.args   = {
                [
                    '-M',
                    params.bwa_min_score ? " -T ${params.bwa_min_score}" : '',
                    meta.read_group ? "-R ${meta.read_group}": ''
                ].join(' ').trim()
            }
            ext.args2  = '-bhS -F 0x0100 -O BAM'
            ext.prefix = { 
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".Lb"
            }
            publishDir = [
                path: { "${params.outdir}/${params.aligner}/library" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
        }
    }
}
