
process {
    withName: 'MACS3_CALLPEAK' {
        // TODO: this is only temporary to avoid "not enough peaks" error for samples with low read counts
        // try using workflow.failOnIgnore https://nextflow.io/docs/latest/reference/stdlib.html
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' } 
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}"
        }
        ext.args   = { [
            '--keep-dup all',
            params.macs_slocal ? "--slocal ${params.macs_slocal}" : '',
            params.macs_llocal ? "--llocal ${params.macs_llocal}" : '',
            meta.exp_type == 'atacseq'  ? "--nomodel --extsize ${params.macs_extsize}" : '',
            params.peak_cutoff_method == 'pvalue' ? "--pvalue ${params.narrow_cutoff}" : "--qvalue ${params.narrow_cutoff}",
            !params.narrow_peak ? "--broad --broad-cutoff ${params.broad_cutoff}" : '',
            params.save_macs_pileup     ? '--bdg --SPMR' : '',
            meta.single_end ? "--format BAM" : "--format BAMPE"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}/macs3/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    // This replaces MACS3's suffixes of the form "*_control_lambda.bdg" with "*.control_lambda.bdg"
                    // TODO: instead of replacing this whole thing, we could use ext.prefix again?
                    def newFilename = filename.replaceFirst("^${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}${meta.exp_type == 'atacseq' ? '.shifted' : ''}${!params.skip_flT3 ? '.flT3' : ''}${params.bam_downsampling_method ? '.dSp' : '' }_", "")
                    return "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}${meta.exp_type == 'atacseq' ? '.shifted' : ''}${!params.skip_flT3 ? '.flT3' : ''}${params.bam_downsampling_method ? '.dSp' : '' }.${newFilename}"
                }
            }
        ]
    }

    if (!params.skip_bdgcmp) {
        process {
            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:MACS3_BDGCMP' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp"
                }
                ext.args   = '--method FE'
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.bedGraph",         
                    enabled: params.save_macs_bdgcmp_intermeds,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:BEDTOOLS_SLOP' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp" +
                    ".slop"
                }
                ext.args   = "-b 0"
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.bed",
                    enabled: params.save_macs_bdgcmp_intermeds
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:AWK_FIX_MACS3_BDGCMP' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp" +
                    ".awk"
                }
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.bed",
                    enabled: params.save_macs_bdgcmp_intermeds
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:UCSC_BEDCLIP' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp" +
                    ".clip"
                }
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.bedGraph",
                    enabled: params.save_macs_bdgcmp_intermeds
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:FILE_SORT' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp"
                }
                ext.args  = "-k1,1 -k2,2n"
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.sorted",
                    enabled: params.save_macs_bdgcmp_intermeds
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:BIGTOOLS_BEDGRAPHTOBIGWIG' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                    "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".bdgcmp" +
                    ".fc.signal"
                }
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/bdgcmp"
                    },
                    mode: params.publish_dir_mode,
                    pattern: "*.bw"
                ]
            }
        }
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:FRIP_SCORE' {
        ext.args   = '-bed -c -f 0.20'
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
            ".frip"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/qc"
            },
            enabled: false
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:MULTIQC_CUSTOM_PEAKS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
            ".peaks"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/qc"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}


if (!params.skip_peak_annotation) {
    process {
        withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:HOMER_ANNOTATEPEAKS' {
            ext.args   = '-gid'
            ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                ".peaks"
            }
            publishDir = [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}/macs3/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}"
                },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        }
    }

    if (!params.skip_peak_qc) {
        process {
            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:PLOT_MACS3_QC' {
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                        "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".macs3_peak_qc"
                }
                ext.args   = '-o ./'
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/qc"
                    },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }

            withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_MACS3_HOMER:PLOT_HOMER_ANNOTATEPEAKS' {
                ext.args   = '-o ./'
                ext.prefix = {
                    "${meta.id}" +
                    "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                    "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                    ".mLb." +
                    "${params.with_umi ? 'dedup' : 'mkD'}" +
                    ".flT1" +
                    "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                    "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                    "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                    "${!params.skip_flT3 ? '.flT3' : ''}" +
                        "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                    "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                    "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
                    ".homer_annotatePeaks"
                }
                publishDir = [
                    path: { 
                        "${params.outdir}/${params.aligner}/mergedLibrary/" +
                        "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                        "/${meta.exp_type}/macs3/" +
                        "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                        "/qc"
                    },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            }
        }
    }
}
