
process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:DEEPTOOLS_BAMCOVERAGE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size + 'bp' : ''}" +
            ".${meta.norm_factor_type}"
        }
        ext.args = { [
            params.coverage_extend_reads ? "--extendReads ${params.coverage_extend_reads}" : "",
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            params.coverage_skip_nas ? "--skipNonCoveredRegions" : "",
            "--scaleFactor ${meta.norm_factor_val}",
            "--outFileFormat bedgraph"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDTOOLS_MAKEWINDOWS_(ENDO|EXO)' {
        ext.args   = { [
            "-w ${params.coverage_bin_size}"
        ].join(' ').trim() }
        ext.prefix = { "${meta.genome}.windows" }
        publishDir = [
            path: { 
                    "${params.outdir}/genome/norm_windows"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: params.save_coverage_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDTOOLS_MAP_(ENDO|EXO)' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size + 'bp' : ''}" +
            ".${meta.norm_factor_type}" +
            ".map"
        }
        ext.args = { [
            "-c 4",
            "-o max"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    // Replace the extension with .bedgraph
                    return filename.replaceAll(/\.bed$/, '.bedgraph')
                }
            }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_NORMALIZE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size + 'bp' : ''}" +
            ".${meta.norm_factor_type}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args2 = { [
            "--norm_factor ${meta.norm_factor_val}"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}"
            },
            mode: params.publish_dir_mode,
            enabled: params.save_coverage_intermeds,
            pattern: "*.bedGraph",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size + 'bp' : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}" +
            ".sorted" 
        }
        ext.args  = "-k1,1 -k2,2n"
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}"
            },
            mode: params.publish_dir_mode,
            enabled: params.save_coverage_intermeds,
            pattern: "*.bedGraph",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ]
    }

    
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_SIGNAL_OVER_INPUT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}" +
            ".${meta.signal_vs_input_operation}"
        }
        ext.args2 = { [
            params.min_signal_for_soi ? "--min_signal ${params.min_signal_for_soi}" : "",
            params.min_input_for_soi ? "--min_input ${params.min_input_for_soi}" : ""
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}" +
                "/signal_vs_input" +
                "/${meta.signal_vs_input_operation}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:UCSC_BEDGRAPHTOBIGWIG_(ENDO|EXO)' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}" +
                "/${meta.signal_vs_input_operation ? 'signal_vs_input/' + meta.signal_vs_input_operation : ''}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:DEEPTOOLS_BIGWIGCOMPARE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}" +
            ".${meta.signal_vs_input_operation}"
        }
        ext.args = { [
            meta.signal_vs_input_operation ? "--operation ${meta.signal_vs_input_operation}" : "",
            params.bw_compare_pseudocount ? "--pseudocount ${params.bw_compare_pseudocount}" : "",
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            params.bw_compare_skip_zero_over_zero ? "--skipZeroOverZero" : "",
            params.coverage_skip_nas ? "--skipNonCoveredRegions" : "",
            "--fixedStep",
            "--outFileFormat bigwig"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}" +
                "/signal_vs_input" +
                "/${meta.signal_vs_input_operation}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:DEEPTOOLS_BIGWIGAVERAGE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${(!meta.downsampling_method && meta.is_input_control) ? '.ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            ".bRep_avg"
        }
        ext.args = { [
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            params.coverage_skip_nas ? "--skipNonCoveredRegions" : "",
            "--outFileFormat bigwig"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "/${meta.norm_factor_type}" +
                "/${meta.signal_vs_input_operation ? 'signal_vs_input/' + meta.signal_vs_input_operation : ''}" +
                "/bRep_avg"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
