
process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:DEEPTOOLS_BAMCOVERAGE_BINS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}"
        }
        // TODO: the blacklist should be inputted to the process directly, which is not possible in the current nf-core implementation
        // meta.flTbl_total_mapped_reads ? "--blackListFileName ${params.blacklist}" : "",
        ext.args = { [
            params.coverage_extend_reads ? "--extendReads ${params.coverage_extend_reads}" : "",
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            "--scaleFactor ${meta.norm_factor_val}",
            "--outFileFormat bedgraph"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/coverage/" +
                "${meta.norm_factor_type}"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDTOOLS_MAKEWINDOWS_(ENDO|EXO)' {
        ext.args   = { [
            "-w ${params.coverage_bin_size}"
        ].join(' ').trim() }
        ext.prefix = { "${meta.genome}.windows" }
        publishDir = [
            path: { 
                    "${params.outdir}/genome/norm_windows"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: params.save_coverage_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDTOOLS_MAP_(ENDO|EXO)' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            ".map" 
        }
        ext.args = { [
            "-c 4",
            "-o max"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> 
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    // Replace the extension with .bedgraph
                    return filename.replaceAll(/\.bed$/, '.bedgraph')
                }
            }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_NORMALIZE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args2 = { [
            "--norm_factor ${meta.norm_factor_val}"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_SIGNAL_OVER_INPUT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            ".soi" 
        }
        ext.args2 = { [
            params.soi_min_count > 0 ? "--min_count ${params.soi_min_count}" : "--min_count 1",
        ].join(' ').trim() }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}" +
                    "/cisrpm_soi/"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BEDGRAPH_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.signal_over_input ? '.soi' : ''}" +
            ".sorted" 
        }
        ext.args  = "-k1,1 -k2,2n"
        publishDir = [
              path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}" +
                    "${meta.signal_over_input ? '/cisrpm_soi' : ''}"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_coverage_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:BIGTOOLS_BEDGRAPHTOBIGWIG_(ENDO|EXO)' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.signal_over_input ? '.soi' : ''}"
        }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}" +
                    "${meta.signal_over_input ? '/cisrpm_soi' : ''}"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bw",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_NORMALIZE_BIGWIG_DEEPTOOLS:DEEPTOOLS_BAMCOVERAGE_BINSIZE1' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".1" +
            ".${meta.norm_factor_type}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        // TODO: the blacklist should be inputted to the process directly, which is not possible in the current nf-core implementation
        // meta.flTbl_total_mapped_reads ? "--blackListFileName ${params.blacklist}" : "",
        ext.args = { [
            params.coverage_extend_reads ? "--extendReads ${params.coverage_extend_reads}" : "",
            "--binSize 1" ,
            "--scaleFactor ${meta.norm_factor_val}",
            "--outFileFormat bigwig"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/coverage/" +
                    "${meta.norm_factor_type}"
                },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
