
process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT1:SAMBAMBA_VIEW' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1" }
        ext.args = {
            [
                meta.single_end ?
                    (params.with_umi ? "" : "-F 'not duplicate'") :
                        (params.with_umi ? "-F 'paired and proper_pair and not (unmapped or mate_is_unmapped)'" :
                            "-F 'not duplicate and paired and proper_pair and not (unmapped or mate_is_unmapped)'"),
                "--format bam"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { (meta.single_end || params.save_align_intermeds) ? "${it}" : null }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }
}

if (params.skip_flT3) {

    process {
        withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT3:SAMBAMBA_VIEW' {
            ext.prefix = { 
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}"
            }
            // See https://bioinformatics.stackexchange.com/a/519 for some details on the filter
            ext.args = {
                [
                    params.aligner == 'star' ? 
                        meta.single_end ? "-F 'mapping_quality >= 255 and not (unmapped or secondary_alignment)'" :
                            "-F 'paired and proper_pair and mapping_quality >= 255 and not (unmapped or mate_is_unmapped or secondary_alignment)'" :
                    params.aligner == 'bwa' ?
                        meta.single_end ? "-F 'mapping_quality >= 30 and not (unmapped or secondary_alignment) and not ([XA] != null or [SA] != null)'" :
                            "-F 'paired and proper_pair and mapping_quality >= 30 and not (unmapped or mate_is_unmapped or secondary_alignment) and not ([XA] != null or [SA] != null)'" :
                    meta.single_end ? "-F 'mapping_quality >= 30 and not (unmapped or secondary_alignment)'" :
                        "-F 'paired and proper_pair and mapping_quality >= 30 and not (unmapped or mate_is_unmapped or secondary_alignment)'",
                    "--format bam"
                ].join(' ').trim()
            }
            publishDir = [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/flT3" 
                },
                mode: params.publish_dir_mode,
                pattern: '*.bam'
            ]
        }

        withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
            ext.prefix = { 
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                ".sorted"
            }
            publishDir = [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/flT3" 
                },
                mode: params.publish_dir_mode,
                pattern: '*.bam'
            ]
        }

        withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
            publishDir = [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/flT3" 
                },
                mode: params.publish_dir_mode,
                pattern: '*.{bai,csi,crai}'
            ]
        }

        withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
            ext.prefix = { 
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                ".sorted"
            }
            publishDir = [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/flT3" 
                },
                mode: params.publish_dir_mode,
                pattern: "*.{stats,flagstat,idxstats}"
            ]
        }
    }
}
