process {

    withName: SAMTOOLS_SORT {
        ext.args   = '-n'
        ext.prefix = { "${meta.id}.nsorted" }
    }

    withName: MACS3_CALLPEAK {
        ext.args = '--bdg --qval 0.1'
    }

    withName: MACS3_BDGCMP {
        ext.args = '--method FE'
    }

    withName: BEDTOOLS_SLOP {
        ext.args = '-b 0'
    }

}
