/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    grothlab/crepas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input/output options
    input                        = null
    seq_center                   = null
    seq_platform                 = null
    fragment_size                = 250
    fingerprint_bins             = 500000
    // TODO: I replaced null with 75 here so that SCAR-seq only analyses dont fail
    // should improve so that read_length is only required when ChIP-seq files are inputted
    read_length                  = 75

    // Reference genome options
    genome                       = null
    igenomes_base                = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore              = true
    refgenie_ignore              = true
    save_reference               = true
    skip_gtf_index               = false

    // UMI extraction and deduplication options
    with_umi                     = false
    skip_umi_extract             = true
    umi_separator                = '_'
    umi_discard_read             = 0
    umi_dedup_tool               = 'umitools'
    umi_grouping_method          = 'percentile'
    umitools_extract_method      = 'string'
    umitools_bc_pattern          = 'NNNNNNNNN'
    umitools_bc_pattern2         = 'NNNNNNNNN'
    get_dedup_stats              = true
    save_dedup_intermeds         = true

    // Adapter trimming options
    clip_r1                      = null
    clip_r2                      = null
    three_prime_clip_r1          = null
    three_prime_clip_r2          = null
    trim_full_length             = true
    trim_nextseq                 = 20
    trim_stringency              = 3
    trim_error_rate              = 0.2
    trim_q_cutoff                = null
    min_trimmed_reads            = 1
    trim_minimum_length          = 5
    trim_maximum_length          = null
    skip_trimming                = false
    save_trimmed                 = false

    // Hard trimming options
    hardtrim5_length             = null
    hardtrim3_length             = null
    save_hardtrimmed             = true
    
    // Alignment options
    aligner                      = 'chromap'
    bwa_min_score                = null
    bwamem2_min_score            = null
    save_align_intermeds         = false
    save_unaligned               = false
    sort_bam                     = true
    map_n_multimappers           = null
    align_end_to_end             = true

    minimap2_kmer_length         = 21
    minimap2_min_win_size        = 11
    minimap2_preset              = 'sr'

    // Spike-in options
    //spikein_fasta              = null
    spikein_genome               = null
    save_spikein_intermeds       = false

    // Multimapper allocation options
    multimap_allocation_method   = null
    allo_mixed_cnn               = true
    allocate_exogenous           = true
    save_allocation_intermeds    = true

    // Alignment shifting options
    save_shifting_intermeds      = false

    // Filtering options
    skip_flT3                    = false
    skip_flTbl                   = false

    // Coverage and normalization options
    skip_srpm                    = false
    skip_cisrpm                  = false
    coverage_extend_reads        = 250
    coverage_bin_size            = 250
    coverage_skip_nas            = false
    skip_signal_vs_input         = false
    signal_vs_input_operation    = 'soi'
    min_signal_for_soi           = 0
    min_input_for_soi            = 0.001
    bw_compare_pseudocount       = 0
    bw_compare_skip_zero_over_zero = true
    use_flT2_as_total_ref        = "H3K9me3,H3K27me3"
    save_coverage_intermeds      = false
    min_reads_for_norm           = 1
    skip_bw_average              = false
    skip_exo_bw                  = true

    // Downsampling options
    bam_downsampling_method      = null
    downsampling_endo_threshold  = 10000000
    downsampling_exo_threshold   = 300000
    bam_downsampling_strategy    = 'Chained'
    bam_downsampling_accuracy    = 0.000001
    save_downsampling_intermeds  = true

    // TE counting options
    skip_te_counting              = true
    skip_telocal                  = true
    te_counting_mode               = 'multi'
    skip_tecount_gz              = false
    skip_telocal_gz              = false

    // Peak calling and annotation options
    narrow_peak                  = false
    peak_cutoff_method           = 'qvalue'
    narrow_cutoff                = 0.01
    broad_cutoff                 = 0.1
    skip_peak_qc                 = false
    skip_peak_annotation         = false

    macs_extsize                 = 250
    macs_slocal                  = 1500
    macs_llocal                  = 10000
    save_macs_pileup             = true
    skip_bdgcmp                  = true
    save_macs_bdgcmp_intermeds   = false
    skip_macs3                   = false

    min_reps_consensus           = 1
    skip_consensus_peaks         = false
    skip_consensus_plotprofile   = false
    consensus_plotprofile_mode   = 'reference_point'
    consensus_plotprofile_ref_point = 'center'
    consensus_plotprofile_region_body_length = 1000
    consensus_plotprofile_upstream = 6000
    consensus_plotprofile_downstream = 6000
    consensus_plotprofile_skip_zeros = true
    consensus_plotprofile_per_group = true
    input_cisrpm_in_plotprofile = false


    skip_edd                     = true
    edd_bin_size                 = null
    edd_gap_penalty              = null
    edd_num_trials               = 10000
    edd_fdr                      = 0.01

    genrich_narrow_gap           = 100
    genrich_broad_gap            = 200
    save_genrich_pileup          = true
    save_genrich_pvalues         = true
    save_genrich_intervals       = true
    skip_genrich                 = true

    skip_mace                   = true
    mace_kmer_size              = null
    mace_bin                    = null
    mace_depth                  = null
    mace_qcut                   = null
    mace_norm_method            = null
    mace_pvalue                 = null
    mace_max_dist               = null
    mace_fuzzy_size             = null
    mace_window_size            = null
    mace_signal_fold            = null
    save_mace_intermeds         = false

    skip_dpeak                  = true
    skip_dpos                   = true

    skip_encode_pipeline        = true
    ctl_depth_ratio_threshold   = 1.2
    idr_soft_threshold          = 0.05
    use_best_multisummit_idr   = true

    epic2_binsize               = 250
    epic2_fdr                   = 0.01
    skip_epic2                  = true

    skip_consenrich              = true

    skip_seacr                   = false
    seacr_peak_threshold         = 0.05
    seacr_stringency             = "stringent"
    seacr_norm                   = "non"

    skip_denopa                   = true

    // DESeq2 quality control options
    deseq2_vst                   = true
    skip_deseq2_qc               = false

    // computeMatrix and plotProfile
    skip_genes_plotprofile              = false
    genes_plotprofile_mode               = 'scale_regions'
    genes_plotprofile_ref_point          = 'TSS'
    genes_plotprofile_region_body_length = 1000
    genes_plotprofile_upstream           = 2000
    genes_plotprofile_downstream         = 2000
    genes_plotprofile_skip_zeros         = false

    // Quality control options
    skip_qc                      = false
    skip_fastqc                  = false
    skip_spikein_barcode_extract = true
    skip_picard_metrics          = false
    skip_preseq                  = true
    skip_plot_fingerprint        = false
    skip_spp_qc                  = false
    skip_igv                     = false
    skip_multiqc                 = false

    // SCAR-seq (partition) and OK-seq (RFD) analysis options
    partition_fragment_size        = 250
    partition_window_size          = 1000
    partition_step_size            = 1000
    smooth_radius                  = 30
    derivative_radius              = 30
    zero_crossing_radius           = 1
    partition_rpm_cutoff           = 0.3
    partition_plot_range           = 100
    partition_exclude_scaffolds    = true
    partition_exclude_chromosomes  = "chrX,chrY,chrM"
    save_partition_intermeds       = false

    // MultiQC options
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    max_multiqc_email_size       = '25.MB'
    multiqc_methods_description  = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    // TODO: change this path to an online repo:
    local_testdata_base_path     = '/maps/projects/dan1/data/Groth_group/SRP/crepas_testdata/'

    // Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version        = 'master'
    custom_config_base           = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact       = null
    config_profile_url           = null

    // Schema validation default options
    validate_params            = true
}

// Default publishing logic for pipeline
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
        // includeConfig 'conf/arm.config'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    //test                { includeConfig 'conf/test.config'                  }
    //test_full           { includeConfig 'conf/test_full.config'             }
    // test_full_aws {
    //     includeConfig 'conf/test_full.config'
    // }
    // test_full_gcp {
    //     includeConfig 'conf/test_full.config'
    //     params.input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_full_gcp.csv'
    // }
    // test_full_azure {
    //     includeConfig 'conf/test_full.config'
    //     params.input = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/samplesheet/v3.10/samplesheet_full_azure.csv'
    // }
    local_test_scarseq  { includeConfig 'conf/local_test_scarseq.config'    }
    local_test_chipseq  { includeConfig 'conf/local_test_chipseq.config'    }
    local_test_chipexo  { includeConfig 'conf/local_test_chipexo.config'    }
    local_test_atacseq  { includeConfig 'conf/local_test_atacseq.config'    }
    local_test_chorseq  { includeConfig 'conf/local_test_chorseq.config'    }
    local_test_nfcore_cutandrun { includeConfig 'conf/local_test_nfcore_cutandrun.config'    }
    local_test_cutandtag { includeConfig 'conf/local_test_cutandtag.config'    }
    local_test_strobealign { includeConfig 'conf/local_test_strobealign.config'    }
    ku_sund_danhead_mod { includeConfig 'conf/ku_sund_danhead_mod.config'   }
    ku_cpromegate { includeConfig 'conf/ku_cpromegate.config'      }
}

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/rnaseq custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load grothlab/crepas custom profiles from different institutions.
//includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/crepas.config" : "/dev/null"


// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
    fields  = [
        'task_id', 'hash', 'native_id', 'process', 'tag', 'name', 'status', 'exit',
        'module', 'container', 'cpus', 'time', 'disk', 'memory', 'attempt', 'submit',
        'start', 'complete', 'duration', 'realtime', 'queue', '%cpu', '%mem', 'rss',
        'vmem', 'peak_rss', 'peak_vmem', 'rchar', 'wchar', 'syscr', 'syscw',
        'read_bytes', 'write_bytes', 'vol_ctxt', 'inv_ctxt', 'workdir',
        'scratch', 'error_action', 'hostname', 'cpu_model'
    ]
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
lineage {
    enabled = true
}

// TODO: replace DOI
manifest {
    name            = 'grothlab/crepas'
    contributors    = [
        [
            name: 'Samuel Ruiz-Pérez',
            affiliation: 'Epigenome Replication and Maintenance, Danish Cancer Institute, Danish Cancer Society',
            email: 'samper@cancer.dk',
            github: '@samuelruizperez',
            contribution: ['author', 'maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-5577-8341'
        ],
        [
            name: 'Nicolás Alcaraz',
            affiliation: 'Epigenome Replication and Maintenance, Danish Cancer Institute, Danish Cancer Society',
            email: 'nicalc@cancer.dk',
            github: '@satroz',
            contribution: ['author'],
            orcid: '0000-0003-0839-8423'
        ],
        [
            name: 'Anja Groth',
            affiliation: 'Epigenome Replication and Maintenance, Danish Cancer Institute, Danish Cancer Society',
            email: 'anjagr@cancer.dk',
            contribution: ['author'],
            orcid: '0000-0003-0577-1771'
        ]
    ]
    homePage        = 'https://github.com/grothlab/crepas'
    description     = 'grothlab/crepas is a bioinformatics pipeline for the analysis of chromatin sequencing data (ChIP-seq, ATAC-seq, SCAR-seq, ChOR-seq, etc.).'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
    version         = 'dev'
    doi             = 'https://doi.org/10.1038/s41596-021-00585-3'
}

// Nextflow plugins
plugins {
    id 'nf-schema@~2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    logging {
        unrecognisedParams = "error"
    }
    lenientMode              = false
    defaultIgnoreParams      = ["genomes", "igenomes_base"]
    monochromeLogs           = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run grothlab/crepas -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
        
                                                                ╔██████╗                       
                                                                ██╔══██║                       
                               ██████╗               ╔██████╗   ███████║                       
                     ██████╗   ██╔══██╗              ██╔══██║   ██╔══██║                       
                    ██╔════╝   ██████╔╝   ╔██████╗   ██████╔╝   ██║_ ██║                       
                    ██║        ██╔══██╗_  ██╔════╝   ██╔═══╝    ╚═╝ \\╚═╝                       
                    ██║ _      ██║  ██║ \\ █████╗  /\\ ██║  /\\   ///\\. \\     ╔███████            
                    ╚██████╗   ╚═╝ ///:. \\██╔══╝ /. \\╚═╝ // \\/////\\:. \\    ██╔════╝            
             /\\      ╚//: \\╝ _/\\_ /////:. ║██████╗/: \\_ ///.//////\\\\:. \\  /███████╗\\  /\\       
            //.\\\\    ///:. \\///: \\//////:.╚══════╝/\\.. \\\\/\\///////\\\\\\:. \\//╚════██║ \\/. \\\\     
           //:.. \\  ///:.. ////:. \\//////:. \\///////:.  \\\\////////\\\\\\::. \\\\███████║ //::. \\\\   
          ///:... \\/////: /////\\:. \\////\\\\:. \\///////:.. \\////////\\\\\\\\::: \\╚══════╝////:... \\  
          ───────────────────────────────────────────────────────────────────────────────────  

        \\033[0;34m${manifest.name} ${manifest.version}\\033[0m                 

        """.stripIndent()
        afterText = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
    * The Epigenome Replication and Maintenance group at the Center for Epigenetic Cell Memory (EpiC), 
      Danish Cancer Institute, Danish Cancer Society:
        https://www.cancer.dk/danish-cancer-institute/research-groups/epigenome-replication-and-maintenance/

    * Software dependencies
        https://github.com/grothlab/crepas/blob/master/CITATIONS.md
    """.stripIndent()
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

// Load DSL2 module specific options
includeConfig "./subworkflows/local/prepare_genome/nextflow.config"
includeConfig './workflows/crepas/nextflow.config'