// Here are all the subworkflows included by the entry workflow
includeConfig "../../subworkflows/local/fastq_fastqc_umitools_umitransfer_trimgalore/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_bwa/nextflow.config"
includeConfig "../../subworkflows/local/fastq_align_bwamem2/nextflow.config"
includeConfig "../../subworkflows/local/fastq_align_minibwa/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_bowtie2/nextflow.config"
includeConfig "../../subworkflows/local/fastq_align_strobealign/nextflow.config"
includeConfig "../../subworkflows/local/fastq_align_bowtie/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_chromap/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_star/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_hisat2/nextflow.config"
includeConfig "../../subworkflows/local/fastq_align_minimap2/nextflow.config"
includeConfig "../../subworkflows/local/bam_dedup_umi/nextflow.config"
includeConfig "../../subworkflows/nf-core/bam_markduplicates_picard/nextflow.config"
includeConfig "../../subworkflows/local/spikein_barcodes/nextflow.config"
includeConfig "../../subworkflows/local/bam_filter_sambamba_rmo_stats/nextflow.config"
includeConfig "../../subworkflows/local/bam_spikein_split/nextflow.config"
includeConfig "../../subworkflows/local/bam_allocate_multimappers/nextflow.config"
includeConfig "../../subworkflows/local/bam_shift_reads/nextflow.config"
includeConfig "../../subworkflows/local/bam_downsample/nextflow.config"
includeConfig "../../subworkflows/local/bam_normalize_bigwig_deeptools/nextflow.config"
includeConfig "../../subworkflows/local/te_counting/nextflow.config"
includeConfig "../../subworkflows/local/call_peaks/nextflow.config"
includeConfig "../../subworkflows/local/bam_encode_pipeline/nextflow.config"
includeConfig "../../subworkflows/local/bam_create_partitions/nextflow.config"
includeConfig "../../subworkflows/local/bam_el_repliseq/nextflow.config"
includeConfig "../../subworkflows/local/bam_hr_repliseq/nextflow.config"

process {
    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_ALIGN:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb.sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_ALIGN:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_ALIGN:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
         ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb.sorted.bam"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }
}

process {
    withName: 'PICARD_MERGESAMFILES' {
        ext.args   = '--SORT_ORDER coordinate --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb.sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}',
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb.sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}',
            enabled: params.save_align_intermeds
        ]
    }
}

process {
    withName: 'GROTHLAB_CREPAS:CREPAS:PRESEQ_LCEXTRAP' {
        ext.args   = '-verbose -bam -seed 1 -seg_len 100000000'
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/preseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'PICARD_COLLECTMULTIPLEMETRICS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}"
        }
        ext.args   = '--VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        publishDir = [
            [
                path: {
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/picard_metrics"
                },
                mode: params.publish_dir_mode,
                pattern: "*_metrics"
            ],
            [
                path: {
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/picard_metrics/pdf"
                },
                mode: params.publish_dir_mode,
                pattern: "*.pdf"
            ]
        ]
    }
}

process {
    withName: 'GROTHLAB_CREPAS:CREPAS:PHANTOMPEAKQUALTOOLS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}"
        }
        ext.args   = { "--max-ppsize=500000" }
        ext.args2  = { "-p=$task.cpus -rf" }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/phantompeakqualtools"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{ccscores,pdf,Rdata,narrowPeak.gz,regionPeak.gz}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }

        ]
    }

    withName: 'MULTIQC_CUSTOM_PHANTOMPEAKQUALTOOLS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/phantompeakqualtools"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'DEEPTOOLS_COMPUTEMATRIX_GENES' {
        ext.prefix = {
            "${meta.exp_type}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${meta.antibody ? '.' + meta.antibody : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args = { [
            params.genes_plotprofile_mode == 'scale_regions' ? 'scale-regions' : 'reference-point',
            params.genes_plotprofile_ref_point && params.genes_plotprofile_mode != 'scale_regions' ? "--referencePoint ${params.genes_plotprofile_ref_point}" : "",
            params.genes_plotprofile_region_body_length && params.genes_plotprofile_mode == 'scale_regions' ? "--regionBodyLength ${params.genes_plotprofile_region_body_length}" : "",
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            params.genes_plotprofile_upstream ? "--beforeRegionStartLength ${params.genes_plotprofile_upstream}" : "",
            params.genes_plotprofile_downstream ? "--afterRegionStartLength ${params.genes_plotprofile_downstream}" : "",
            params.coverage_skip_nas ? "" : '--missingDataAsZero',
            params.genes_plotprofile_skip_zeros ? "--skipZeros" : "",
            "--samplesLabel ${meta.ids.join(' ')}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/plotProfile" +
                "${meta.antibody ? '/' + meta.antibody : ''}" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPTOOLS_PLOTPROFILE_GENES' {
        ext.prefix = {
            "${meta.exp_type}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${meta.antibody ? '.' + meta.antibody : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}" +
            ".genes"
        }
        ext.args = { [
            "--plotHeight 12 --plotWidth 14",
            '--perGroup',
            "--regionsLabel '${meta.antibody ? meta.antibody + ' ' : ''}${meta.exp_type} over genes'",
            "--yAxisLabel '${meta.averaged_brep ? 'Average' : ''} ${meta.norm_factor_type.toUpperCase()} ${meta.signal_vs_input_operation ? meta.signal_vs_input_operation.toUpperCase() : ''}'"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/plotProfile" +
                "${meta.antibody ? '/' + meta.antibody : ''}" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPTOOLS_PLOTHEATMAP_GENES' {
        ext.prefix = {
            "${meta.exp_type}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${meta.antibody ? '.' + meta.antibody : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args = { [
            "--plotTitle '${meta.antibody ? meta.antibody + ' ' : ''}${meta.exp_type} signal'",
            "--regionsLabel 'over genes'",
            "--xAxisLabel 'Distance (kb)'",
            "--yAxisLabel '${meta.averaged_brep ? 'Average' : ''} ${meta.norm_factor_type.toUpperCase()} ${meta.signal_vs_input_operation ? meta.signal_vs_input_operation.toUpperCase() : ''}'"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/plotProfile" +
                "${meta.antibody ? '/' + meta.antibody : ''}" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'DEEPTOOLS_PLOTFINGERPRINT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args   = { [
            '--skipZeros',
            "--numberOfSamples ${params.fingerprint_bins}",
            "--labels ${meta.id} ${meta.input_control}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/plotFingerprint"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'GROTHLAB_CREPAS:CREPAS:SAMTOOLS_STATS_SUMMARY:STATS_TRANSPOSE' {
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/transposed"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            enabled: false
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:SAMTOOLS_STATS_SUMMARY:STATS_CAT' {
        ext.prefix = {
            "samtools_stats_summary" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.bam_downsampling_method ? '.dSp' : '' }"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:SAMTOOLS_STATS_SUMMARY:STATS_SUMMARY' {
        ext.prefix = {
            "final_samtools_stats_summary" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.bam_downsampling_method ? '.dSp' : '' }"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}

process {
    withName: 'IGV' {
        publishDir = [
            [
                path: {
                    "${params.outdir}/igv/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}"
                },
                mode: params.publish_dir_mode,
                pattern: '*.{txt,xml}'
            ],
            [
                path: { "${params.outdir}/genome" },
                mode: params.publish_dir_mode,
                pattern: '*.{fa,fasta}'
            ]
        ]
    }
}

process {
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: {
                    "${params.outdir}/multiqc/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}"
                },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
