
process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_MARKDUPLICATES_PICARD:PICARD_MARKDUPLICATES' {
        ext.args   = '--ASSUME_SORTED true --REMOVE_DUPLICATES false --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.mkD.sorted" }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/mergedLibrary/picard_markduplicates" },
                mode: params.publish_dir_mode,
                pattern: '*.metrics.txt'
            ],
            [
                path: { "${params.outdir}/${params.aligner}/mergedLibrary/picard_markduplicates" },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                enabled: params.save_align_intermeds
            ]
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_MARKDUPLICATES_PICARD:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/picard_markduplicates" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}',
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_MARKDUPLICATES_PICARD:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.mkD.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/picard_markduplicates" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}'
        ]
    }
}
