process {
    withName: 'GROTHLAB_CREPAS:CREPAS:SPIKEIN_BARCODES:SPIKEIN_BARCODE_MERGE' {
        publishDir = [
            [
                path: { "${params.outdir}/spikein_barcodes/merged" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}"
            ]
        ]
    }
    withName: 'GROTHLAB_CREPAS:CREPAS:SPIKEIN_BARCODES:SPIKEIN_BARCODE_QC' {
        publishDir = [
            [
                path: { "${params.outdir}/spikein_barcodes/summary" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv,png,pdf}"
            ]
        ]
    }
}
