process {

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:DEEPTOOLS_MULTIBAMSUMMARY' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".counts"
        }
        ext.args = { [
            "--binSize ${params.repliseq_bin_size}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/counts/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            enabled: params.save_repliseq_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:REPLISEQ_RTNORMALIZE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".${params.repliseq_replicate_method}" +
            ".${params.repliseq_normalization}"
        }
        ext.args = { [
            "--method ${params.repliseq_replicate_method}",
            "--normalization ${params.repliseq_normalization}",
            "--smooth ${params.repliseq_smooth}",
            "--smooth_stage ${params.repliseq_smooth_stage}",
            "--clamp_negative ${params.repliseq_clamp_negative}",
            "--ratio_direction ${params.repliseq_ratio_direction}",
            "--loess_degree ${params.repliseq_loess_degree}",
            "--loess_family ${params.repliseq_loess_family}",
            "--loess_window ${params.repliseq_loess_window}",
            params.repliseq_loess_span ? "--loess_span ${params.repliseq_loess_span}" : '',
            "--roll_k ${params.repliseq_roll_k}",
            "--corr ${params.repliseq_corr_method}",
            "--pairing_threshold ${params.repliseq_pairing_threshold}",
            "--exclude_scaffolds ${params.repliseq_exclude_scaffolds}",
            "--min_bin_reads ${params.repliseq_min_bin_reads}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/qc/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.qc.txt"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:REPLISEQ_RT_MULTIQC' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".${params.repliseq_replicate_method}" +
            ".${params.repliseq_normalization}" +
            ".rt_mqc.tsv"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/qc/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.rt_mqc.tsv"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:BED_TO_SAF' {
        ext.prefix = { "${meta.id}.gene_bodies" }
        publishDir = [ enabled: false ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:SUBREAD_FEATURECOUNTS_GENES' {
        ext.args = { [
            '-F SAF',
            '-O',
            meta.single_end ? '' : '-p -B -C'
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" + ".${params.repliseq_bin_size}bp.gene_bodies" }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/gene_classification/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.summary"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:REPLISEQ_CLASSIFY_GENES' {
        ext.args = { [
            "--min_gene_reads ${params.repliseq_min_gene_reads}",
            "--min_margin ${params.repliseq_gene_min_margin}",
            "--skip_plots ${params.repliseq_skip_gene_plots}"
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/gene_classification/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,bed,qc.txt,pdf,png}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:REPLISEQ_GENE_CLASS_MULTIQC' {
        ext.prefix = { "${meta.id}.gene_class_mqc.tsv" }
        publishDir = [ enabled: false ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:REPLISEQ_RT_DOMAINS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".${params.repliseq_replicate_method}" +
            ".${params.repliseq_normalization}" +
            ".${meta.rt_track_type}" +
            "${meta.rt_track_type == 'smooth' ? '.' + params.repliseq_smooth : ''}"
        }
        ext.args = { [
            "--classification ${params.repliseq_domain_classification}",
            "--threshold ${params.repliseq_domain_threshold}",
            "--alpha ${params.repliseq_domain_alpha}",
            "--min_width ${params.repliseq_domain_min_width}",
            "--undo_sd ${params.repliseq_domain_undo_sd}",
            "--smooth_outliers ${params.repliseq_domain_smooth_outliers}",
            "--seed ${params.repliseq_domain_seed}",
            "--skip_plots ${params.repliseq_skip_domain_plots}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/domains/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{bed,qc.txt,pdf}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:FILE_SORT' {
        ext.args = "-k1,1 -k2,2n"
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".${params.repliseq_replicate_method}" +
            ".${params.repliseq_normalization}" +
            ".${meta.rt_measure == 'rt_index' ? 'RT_index' : (params.repliseq_ratio_direction == 'late_over_early' ? 'LE_ratio' : 'EL_ratio')}" +
            "${meta.rt_covered ? '.covered' : ''}" +
            ".${meta.rt_track_type}" +
            "${meta.rt_track_type == 'smooth' ? '.' + params.repliseq_smooth : ''}" +
            ".sorted"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/${meta.rt_measure == 'rt_index' ? 'RT_index' : (params.repliseq_ratio_direction == 'late_over_early' ? 'LE_ratio' : 'EL_ratio')}/${meta.rt_track_type}/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedGraph",
            enabled: params.save_repliseq_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_REPLISEQ_RT_TRACKS:UCSC_BEDGRAPHTOBIGWIG' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.repliseq_bin_size}bp" +
            ".${params.repliseq_replicate_method}" +
            ".${params.repliseq_normalization}" +
            ".${meta.rt_measure == 'rt_index' ? 'RT_index' : (params.repliseq_ratio_direction == 'late_over_early' ? 'LE_ratio' : 'EL_ratio')}" +
            "${meta.rt_covered ? '.covered' : ''}" +
            ".${meta.rt_track_type}" +
            "${meta.rt_track_type == 'smooth' ? '.' + params.repliseq_smooth : ''}"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/rt_tracks/bigwig/${meta.rt_measure == 'rt_index' ? 'RT_index' : (params.repliseq_ratio_direction == 'late_over_early' ? 'LE_ratio' : 'EL_ratio')}/${meta.rt_track_type}/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig"
        ]
    }

}
