process {

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_HR_REPLISEQ:DEEPTOOLS_MULTIBAMSUMMARY_HR' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.hr_repliseq_bin_size}bp" +
            ".counts"
        }
        ext.args = { [
            "--binSize ${params.hr_repliseq_bin_size}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/hr_repliseq/counts/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            enabled: params.save_repliseq_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_HR_REPLISEQ:HR_REPLISEQ_MAKE_ARRAY' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.hr_repliseq_bin_size}bp"
        }
        ext.args = { [
            "--bin_size ${params.hr_repliseq_bin_size}",
            "--normalization ${params.hr_repliseq_normalization}",
            "--g1_label ${params.hr_repliseq_g1_label}",
            "--g1_min_rpm ${params.hr_repliseq_g1_min_rpm}",
            "--exclude_chromosomes '${params.hr_repliseq_exclude_chromosomes ?: ''}'",
            params.hr_repliseq_chromosomes ? "--chromosomes ${params.hr_repliseq_chromosomes.tokenize(',').join(' ')}" : ''
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/hr_repliseq/array/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{csv,qc.txt}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_HR_REPLISEQ:HR_REPLISEQ_CALL_FEATURES' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.hr_repliseq_bin_size}bp"
        }
        ext.args = { [
            "--threshold ${params.hr_repliseq_birch_threshold}",
            params.hr_repliseq_birch_n_clusters ? "--n_clusters ${params.hr_repliseq_birch_n_clusters}" : '',
            "--termination_max_size ${params.hr_repliseq_termination_max_size}",
            "--partition_priority ${params.hr_repliseq_partition_priority}",
            "--s_phase_hours ${params.hr_repliseq_s_phase_hours}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/hr_repliseq/features/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{bed,tsv,qc.txt}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_HR_REPLISEQ:HR_REPLISEQ_PLOT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            ".${params.hr_repliseq_bin_size}bp"
        }
        ext.args = { [
            params.hr_repliseq_plot_chromosomes ? "--chromosomes ${params.hr_repliseq_plot_chromosomes.tokenize(',').join(' ')}" : '',
            params.hr_repliseq_mqc_chromosome ? "--mqc_chromosome ${params.hr_repliseq_mqc_chromosome}" : '',
            "--feature_example_pages ${params.hr_repliseq_example_pages}",
            "--example_flank_bins ${params.hr_repliseq_example_flank_bins}",
            "--seed ${params.hr_repliseq_example_seed}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "/hr_repliseq/features/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{pdf,png}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_HR_REPLISEQ:HR_REPLISEQ_FEATURES_MULTIQC' {
        ext.prefix = { "${meta.id}.hr_features_mqc.tsv" }
        publishDir = [ enabled: false ]
    }

}
