
process {
    withName: 'MINIBWA_MAP' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb"
        }
        ext.args   = {
            [
                params.minibwa_preset ? "-x ${params.minibwa_preset}" : '',
                params.minibwa_min_seed_length ? "-k ${params.minibwa_min_seed_length}" : '',
                params.minibwa_bandwidth ? "-w ${params.minibwa_bandwidth}" : '',
                params.map_n_multimappers ? "-N ${params.map_n_multimappers} --outn=${params.map_n_multimappers}" : '',
                meta.read_group ? "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id - ~/_tRep_.*$/}\\\\tPL:${params.seq_platform}\\\\tLB:${meta.id}\\\\tPU:1" +
                    (params.seq_center ? "\\\\tCN:${params.seq_center}" : '') : ''
            ].join(' ').trim()
        }
        ext.args2  = '-O BAM'
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
}
