// Here are all the subworkflows included by the entry workflow
includeConfig "../../subworkflows/local/fastq_fastqc_umitools_umitransfer_trimgalore/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_bwa/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_bowtie2/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_chromap/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_star/nextflow.config"
includeConfig "../../subworkflows/nf-core/fastq_align_hisat2/nextflow.config"
includeConfig "../../subworkflows/nf-core/bam_dedup_umi/nextflow.config"
includeConfig "../../subworkflows/nf-core/bam_markduplicates_picard/nextflow.config"
includeConfig "../../subworkflows/local/bam_filter_sambamba/nextflow.config"
includeConfig "../../subworkflows/local/bam_spikein_split/nextflow.config"
includeConfig "../../subworkflows/local/bam_allocate_multimappers/nextflow.config"
includeConfig "../../subworkflows/local/bam_shift_reads/nextflow.config"
includeConfig "../../subworkflows/local/bam_filter_blacklist/nextflow.config"
includeConfig "../../subworkflows/local/bam_downsample/nextflow.config"
includeConfig "../../subworkflows/local/bam_normalize_bigwig_deeptools/nextflow.config"
includeConfig "../../subworkflows/local/te_counting/nextflow.config"
includeConfig "../../subworkflows/local/bam_peaks_call_qc_annotate_consenrich_rocco_homer/nextflow.config"
includeConfig "../../subworkflows/local/bam_peaks_call_qc_annotate_epic2_homer/nextflow.config"
includeConfig "../../subworkflows/local/bam_peaks_call_qc_annotate_macs3_homer/nextflow.config"
includeConfig "../../subworkflows/local/bed_consensus_quantify_qc_bedtools_featurecounts_deseq2/nextflow.config"
includeConfig "../../subworkflows/local/bam_peaks_call_qc_annotate_genrich_homer/nextflow.config"
includeConfig "../../subworkflows/local/bam_peaks_call_qc_annotate_mace_homer/nextflow.config"
includeConfig "../../subworkflows/local/bam_create_partitions/nextflow.config"

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb.sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:FASTQ_ALIGN_.*:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
         ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb.sorted.bam"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }
}

process {
    withName: 'PICARD_MERGESAMFILES' {
        ext.args   = '--SORT_ORDER coordinate --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}',
            enabled: params.save_align_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.sorted" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary" },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}',
            enabled: params.save_align_intermeds
        ]
    }
}

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:PRESEQ_LCEXTRAP' {
        ext.args   = '-verbose -bam -seed 1 -seg_len 100000000'
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/preseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}


process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FLAGSTAT_MAPPED_FLT1' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            ".total_reads"  
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FLAGSTAT_MAPPED_FLT2' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1.${meta.genome}.flT2.total_reads" }
        publishDir = [
            path : { "${params.outdir}/${params.aligner}/mergedLibrary/spikein_split/flT2" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_FLAGSTAT_MAPPED_FLT3' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".total_reads"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'PICARD_COLLECTMULTIPLEMETRICS' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}"
        }
        ext.args   = '--VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        publishDir = [
            [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/picard_metrics" 
                },
                mode: params.publish_dir_mode,
                pattern: "*_metrics"
            ],
            [
                path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/picard_metrics/pdf" 
                },
                mode: params.publish_dir_mode,
                pattern: "*.pdf"
            ]
        ]
    }
}

process {
    withName: 'PHANTOMPEAKQUALTOOLS' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}"
        }
        ext.args   = { "--max-ppsize=500000" }
        ext.args2  = { "-p=$task.cpus -rf" }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/phantompeakqualtools" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{out,pdf}"
        ]
    }

    withName: 'MULTIQC_CUSTOM_PHANTOMPEAKQUALTOOLS' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/phantompeakqualtools" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'DEEPTOOLS_COMPUTEMATRIX' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".1" +
            ".${meta.norm_factor_type}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args   = 'scale-regions --regionBodyLength 1000 --beforeRegionStartLength 3000 --afterRegionStartLength 3000 --missingDataAsZero --skipZeros --smartLabels'
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/plotProfile" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPTOOLS_PLOTPROFILE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".1" +
            ".${meta.norm_factor_type}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/plotProfile" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPTOOLS_PLOTHEATMAP' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".1" +
            ".${meta.norm_factor_type}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/plotProfile" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'DEEPTOOLS_PLOTFINGERPRINT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args   = { [
            '--skipZeros',
            "--numberOfSamples ${params.fingerprint_bins}",
            "--labels ${meta.id} ${meta.input_control}"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/plotFingerprint" 
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'EDD' {
        // TODO: this errorStrategy is to skip when the bin size cannot be estimated (when it is not specified)
        errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args  = { [
            params.edd_bin_size ? "--bin-size ${params.edd_bin_size}" : "",
            params.edd_gap_penalty ? "--gap-penalty ${params.edd_gap_penalty}" : "",
            "--num-trials ${params.edd_num_trials}",
            "--fdr ${params.edd_fdr}",
            "--write-log-ratios",
            "--write-bin-scores"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/edd/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:SAMTOOLS_STATS_SUMMARY:SAMTOOLS_STATS_TRANSPOSE' {
        publishDir = [ 
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/transposed"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            enabled: false
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:SAMTOOLS_STATS_SUMMARY:SAMTOOLS_STATS_CAT' {
        ext.prefix = { "samtools_stats_summary${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1${params.spikein_genome ? '.flT2' : ''}${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}${!params.skip_flT3 ? '.flT3' : ''}${params.bam_downsampling_method ? '.dSp' : '' }" }
        publishDir = [ 
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:SAMTOOLS_STATS_SUMMARY:FINAL_STAT_SUMMARY' {
        ext.prefix = { "final_samtools_stats_summary${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}.mLb.${params.with_umi ? 'dedup' : 'mkD'}.flT1${params.spikein_genome ? '.flT2' : ''}${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}${!params.skip_flT3 ? '.flT3' : ''}${params.bam_downsampling_method ? '.dSp' : '' }" }
        publishDir = [ 
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/samtools_stats_summary/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}

process {
    withName: 'IGV' {
        publishDir = [
            [
                path: { 
                    "${params.outdir}/igv/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}"
                },
                mode: params.publish_dir_mode,
                pattern: '*.{txt,xml}'
            ],
            [
                path: { "${params.outdir}/genome" },
                mode: params.publish_dir_mode,
                pattern: '*.{fa,fasta}'
            ]
        ]
    }
}

process {
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { 
                    "${params.outdir}/multiqc/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}/" +
                    "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}"
                },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
