process {
    withName: 'CHROMAP_INDEX' {
        publishDir = [
            path: { "${params.outdir}/genome/index/${params.aligner}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CHROMAP_CHROMAP' {
        ext.args   = {
            [
                "-l 2000",
                "--SAM",
                // This is done later in the alignmentsieve step:
                //meta.exp_type == 'ATAC-seq' ? "--Tn5-shift" : '',
                params.map_n_multimappers ? "--max-num-best-mappings ${params.map_n_multimappers} --drop-repetitive-reads ${params.map_n_multimappers} -q 0" : '-q 0',  
                params.multimap_allocation_method == 'chromap' ? "--allocate-multi-mappings": "--low-mem"
            ].join(' ').trim()
        }
        // Patch chromap/chromap module to include read group (otherwise picard/markduplicates erroring)
        // https://github.com/nf-core/chipseq/commit/b209c18d16e4b81dd0033014d8b76cbf077aa3d7#diff-bf809c928cb10b54d251dec8a140a2d5505150f97175d8d7b51dda9cc57971feR265
        ext.args3  = { meta.read_group ? "-r ${meta.read_group}" : '' }
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.Lb" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }
}
