process {
    withName: 'CHROMAP_CHROMAP' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb" +
            ".no_readgroup"
        }
        ext.args   = {
            [
                "-l 2000",
                "--SAM",
                // This is done later in the alignmentsieve step:
                //meta.exp_type == 'ATAC-seq' ? "--Tn5-shift" : '',
                params.map_n_multimappers ? "--max-num-best-mappings ${params.map_n_multimappers} --drop-repetitive-reads ${params.map_n_multimappers} -q 0" : '-q 0',  
                params.multimap_allocation_method == 'chromap' ? "--allocate-multi-mappings": "--low-mem"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'PICARD_ADDORREPLACEREADGROUPS'{
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb"
        }
        ext.args = {[
            "--CREATE_INDEX",
            "-ID ${meta.id}",
            "-SM ${meta.id - ~/_tRep_.*$/}",
            "-PL ILLUMINA",
            "-LB ${meta.id}",
            "-PU 1",
            "${ params.seq_center ? "-CN ${params.seq_center}" : '' }"
        ].join(' ').trim()}
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }
}
