
process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_CONSENRICH_HOMER:SIZES_SORT' {
        ext.args  = "-k1,1 -k2,2n"
        publishDir = [
            path: { "${params.outdir}/genome/" },
            mode: params.publish_dir_mode,
            pattern: "*.sorted"
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_CONSENRICH_HOMER:CONSENRICH' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}"
        }
        ext.args   = { [
            "--signal_bigwig ${task.ext.prefix}.consenrich_signal_track.bw",
            "--residual_bigwig ${task.ext.prefix}.consenrich_residuals_track.bw",
            "--eratio_bigwig ${task.ext.prefix}.consenrich_eratio_track.bw"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/consenrich/"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv,tsv.gz,bw,json,npz}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_CONSENRICH_HOMER:ROCCO' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
            ".rocco"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}/consenrich/rocco"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{bed,tsv,narrowPeak,mps}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

