
process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT1:SAMBAMBA_VIEW' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1"
        }
        ext.args = {
            [
                meta.single_end ?
                    (meta.with_umi ? "" : "-F 'not duplicate'") :
                        (meta.with_umi ? "-F 'paired and not (unmapped or mate_is_unmapped)'" :
                            "-F 'not duplicate and paired and not (unmapped or mate_is_unmapped)'"),
                "--format bam"
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { (meta.single_end || params.save_align_intermeds) ? "${it}" : null }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            ".sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT1:BAM_SORT_STATS_SAMTOOLS_FLT:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            ".sorted"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT1:BAM_FLAGSTAT_MAPPED' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            ".total_reads"  
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/flT1" },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:SAMBAMBA_VIEW' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}"
        }
        // See https://bioinformatics.stackexchange.com/a/519 for some details on the filter
        ext.args = {
            [
                params.aligner == 'star' ? 
                    meta.single_end ? "-F 'mapping_quality >= 255 and not (unmapped or secondary_alignment)'" :
                        "-F 'paired and proper_pair and mapping_quality >= 255 and not (unmapped or mate_is_unmapped or secondary_alignment)'" :
                params.aligner == 'bwa' ?
                    meta.single_end ? "-F 'mapping_quality >= 30 and not (unmapped or secondary_alignment) and not ([XA] != null or [SA] != null)'" :
                        "-F 'paired and proper_pair and mapping_quality >= 30 and not (unmapped or mate_is_unmapped or secondary_alignment) and not ([XA] != null or [SA] != null)'" :
                meta.single_end ? "-F 'mapping_quality >= 30 and not (unmapped or secondary_alignment)'" :
                    "-F 'paired and proper_pair and mapping_quality >= 30 and not (unmapped or mate_is_unmapped or secondary_alignment)'",
                "--format bam"
            ].join(' ').trim()
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_FLT:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:SAMTOOLS_NSORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/nsorted" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_REMOVE_ORPHANS' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!meta.single_end ? '.flT3.rmO' : '.flT3'}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/rmO" 
            },
            mode : params.publish_dir_mode,
            pattern : '*.bam',
            enabled: params.save_spikein_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_RMO:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".rmO" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/rmO" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_RMO:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/rmO" 
            },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_SORT_STATS_SAMTOOLS_RMO:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".rmO" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/rmO" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_FLT3:BAM_FLAGSTAT_MAPPED' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".rmO" +
            ".total_reads"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/flT3/rmO" 
            },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:SAMBAMBA_VIEW' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".flTbl"
        }
        ext.args = "--format bam"
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".flTbl" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_FLT:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl"
            },
            mode: params.publish_dir_mode,
        pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_FLT:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".flTbl" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:SAMTOOLS_NSORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            ".flTbl" +
            ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl/nsorted"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_REMOVE_ORPHANS' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${!meta.single_end ? '.flTbl.rmO' : '.flTbl'}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl/rmO"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_RMO:SAMTOOLS_SORT' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${!meta.single_end ? '.flTbl.rmO' : '.flTbl'}" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl/rmO"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_RMO:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl/rmO"
            },
            mode: params.publish_dir_mode,
        pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_SORT_STATS_SAMTOOLS_RMO:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${!meta.single_end ? '.flTbl.rmO' : '.flTbl'}" +
            ".sorted"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl/rmO"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_FILTER_SAMBAMBA_BLACKLIST:BAM_FLAGSTAT_MAPPED' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${!meta.single_end ? '.flTbl.rmO' : '.flTbl'}" +
            ".total_reads"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "${!params.skip_flT3 ? '/flT3/' : ''}" +
                "/flTbl"
            },
            mode: params.publish_dir_mode,
            pattern: "*.txt",
            enabled: false,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
