params {

    config_profile_contact     = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_description = 'DCAI GEFION configuration. Written by Samuel Ruiz-Pérez <samper@cancer.dk>. For support and questions about GEFION contact <support@dcai.dk>.'
    config_profile_url         = 'https://github.com/grothlab/crepas/blob/main/conf/dcai_gefion.config'

}

// Disable cleanup to allow resuming of pipelines even after successful completions.
cleanup = false 

apptainer {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 120.GB,
        cpus: 12,
        time: 72.h
    ]
    executor         = 'slurm'
    clusterOptions   = "--account=${env('SBATCH_ACCOUNT')}" + (env('SBATCH_RESERVATION') ? " --reservation=${env('SBATCH_RESERVATION')}" : "")
}

executor {
    queueSize       = 16
    submitRateLimit = '48/1min'
}
