params {

    config_profile_contact     = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_description = 'DCAI GEFION configuration. Written by Samuel Ruiz-Pérez <samper@cancer.dk>. For support and questions about GEFION contact <support@dcai.dk>.'
    config_profile_url         = 'https://github.com/grothlab/crepas/blob/main/conf/dcai_gefion.config'

}

// Disable cleanup to allow resuming of pipelines even after successful completions.
cleanup = false 

apptainer {
    enabled    = true
    autoMounts = true
    runOptions = '--env PATH=\$PATH:/opt/conda/bin:/opt/conda/condabin'
}

process {
    beforeScript = 'module load Apptainer/1.3.6;'
    resourceLimits = [
        memory: 2000.GB,
        cpus: 224,
        time: 168.h,
    ]
    executor         = 'slurm'
    clusterOptions   = "--account=${env('SBATCH_ACCOUNT')}" + (env('SBATCH_RESERVATION') ? " --reservation=${env('SBATCH_RESERVATION')}" : "")
    queue  = 'defq'
}

executor {
    queueSize       = 32
    submitRateLimit = '48/1min'
}
