params {

    config_profile_contact     = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_description = 'CPRGPU (CPR HPC) Nextflow configuration (see https://cprgpu.gitbook.io/cprgpu-user-guide/)'
    config_profile_url         = 'https://github.com/grothlab/crepas/blob/main/conf/cprgpu.config'

}

cleanup = false 

singularity {
    enabled    = true
    autoMounts = true
    envWhitelist = ['SINGULARITY_TMPDIR', 'MPLCONFIGDIR']
}

process {
    resourceLimits = [
        memory: 120.GB,
        cpus: 8,
        time: 72.h
    ]
    executor         = 'slurm'
}

executor {
    queueSize       = 5
    submitRateLimit = '60/1min'
}

profiles {
    cpr_mx {
        executor.account = 'cpr_mx'
        singularity.runOptions = '--bind /projects/cpr_mx/scratch:/scratch ' +
                                 '--bind /projects/cpr_mx/scratch:/tmp'
    }
    cpr_sbmm {
        executor.account = 'cpr_sbmm'
        singularity.runOptions = '--bind /projects/cpr_sbmm/scratch:/scratch ' +
                                 '--bind /projects/cpr_sbmm/scratch:/tmp'
    }
    cpr_mito {
        executor.account = 'cpr_mito'
        singularity.runOptions = '--bind /projects/cpr_mito/scratch:/scratch ' +
                                 '--bind /projects/cpr_mito/scratch:/tmp'
    }
    cpr_mln {
        executor.account = 'cpr_mln'
        singularity.runOptions = '--bind /projects/cpr_mln/scratch:/scratch ' +
                                 '--bind /projects/cpr_mln/scratch:/tmp'
    }
    cpr_nm {
        executor.account = 'cpr_nm'
        singularity.runOptions = '--bind /projects/cpr_nm/scratch:/scratch ' +
                                 '--bind /projects/cpr_nm/scratch:/tmp'
    }
    cpr_ag {
        executor.account = 'cpr_ag'
        singularity.runOptions = '--bind /projects/cpr_ag/scratch:/scratch ' +
                                 '--bind /projects/cpr_ag/scratch:/tmp'
    }
    cpr_duxin {
        executor.account = 'cpr_duxin'
        singularity.runOptions = '--bind /projects/cpr_duxin/scratch:/scratch ' +
                                 '--bind /projects/cpr_duxin/scratch:/tmp'
    }
    cpr_nilsson {
        executor.account = 'cpr_nilsson'
        singularity.runOptions = '--bind /projects/cpr_nilsson/scratch:/scratch ' +
                                 '--bind /projects/cpr_nilsson/scratch:/tmp'
    }
    cpr_crc {
        executor.account = 'cpr_crc'
        singularity.runOptions = '--bind /projects/cpr_crc/scratch:/scratch ' +
                                 '--bind /projects/cpr_crc/scratch:/tmp'
    }
    cpr_nk {
        executor.account = 'cpr_nk'
        singularity.runOptions = '--bind /projects/cpr_nk/scratch:/scratch ' +
                                 '--bind /projects/cpr_nk/scratch:/tmp'
    }
    cpr_mann {
        executor.account = 'cpr_mann'
        singularity.runOptions = '--bind /projects/cpr_mann/scratch:/scratch ' +
                                 '--bind /projects/cpr_mann/scratch:/tmp'
    }
    cpr_jensen {
        executor.account = 'cpr_jensen'
        singularity.runOptions = '--bind /projects/cpr_jensen/scratch:/scratch ' +
                                 '--bind /projects/cpr_jensen/scratch:/tmp'
    }
    cpr_share {
        executor.account = 'cpr_share'
        singularity.runOptions = '--bind /projects/cpr_share/scratch:/scratch ' +
                                 '--bind /projects/cpr_share/scratch:/tmp'
    }
}
