params {

    config_profile_contact     = 'Samuel Ruiz-Pérez <samuel.ruiz@cpr.ku.dk>'
    config_profile_description = 'danhead01fl configuration. Modified to disable cleanup (original by Adrija Kalvisa <adrija.kalvisa@sund.ku.dk>)'
    config_profile_url         = 'https://github.com/grothlab/glseq/blob/main/conf/ku_sund_danhead.config'

    max_cpus                   = 8
    max_memory                 = 64.GB
    max_time                   = 72.h
}

// Disable cleanup to allow resuming of pipelines even after successful completions.
// This is useful, e.g., when one wants to rerun a pipeline to try different parameters or for benchmarking.
// See https://www.nextflow.io/docs/stable/reference/config.html#unscoped-options
// See: https://github.com/nextflow-io/nextflow/issues/5342#issue-2552302987
cleanup = false 

// Bind and add SINGULARITY_TMPDIR to whitelist (this is not the same as NXF_TEMP)
// to avoid full /tmp folders within containers
// See https://github.com/nextflow-io/nextflow/issues/2786#issuecomment-1173975771
// And https://github.com/nextflow-io/nextflow/issues/2685#issue-1155129187
// Also add MPLCONFIGDIR to whitelist to avoid matplotlib (deepTools, etc.) cache errors
singularity {
    enabled    = true
    autoMounts = true
    runOptions = '--bind /projects:/projects ' +
                 '--bind $SINGULARITY_TMPDIR:/tmp ' +
                 '--bind $SINGULARITY_TMPDIR:/scratch'
    envWhitelist = ['SINGULARITY_TMPDIR', 'MPLCONFIGDIR']
    process.beforeScript = 'source ~/.bashrc'

}
    
process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 8,
        time: 72.h
    ]
    executor         = 'slurm'
    containerOptions = "--env NUMBA_CACHE_DIR=/tmp/numbacache"
    withName: SRATOOLS_PREFETCH {
        ext.args = '--max-size 60g'
    }
}

executor {
    queueSize       = 5
    submitRateLimit = '30/1min'
}

profiles {
    dancmpn01fl {
        process.clusterOptions = '-w dancmpn01fl'
    }
    dancmpn02fl {
        process.clusterOptions = '-w dancmpn02fl'
    }
    dangpu01fl {
        process.clusterOptions = '-p gpuqueue'
    }
}
