/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/glseq -profile ku_sund_danhead,local_test_chipseq --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_contact      = 'Samuel Ruiz-Pérez <samuel.perez@cpr.ku.dk>'
    config_profile_name         = 'ChIP-seq test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline ChIP-seq analysis function (for DAN System users)'

    max_cpus                    = 8
    max_memory                  = '64.GB'
    max_time                    = '72.h'

    // Input data
    input                       = params.local_testdata_base_path + 'samplesheets/local_test_chipseq_samplesheet.csv'
    read_length                 = 50

    // Genome references
    bowtie2_index               = params.local_testdata_base_path + 'references/Homo_sapiens/GRCh38/spiked/GRCh38_dm6/indices/bowtie2_2.5.4_index'
    fasta                       = params.local_testdata_base_path + 'references/Homo_sapiens/GRCh38/spiked/GRCh38_dm6/genome/fasta/GRCh38_dm6.primary_assembly.genome.fa.gz'
    gtf                         = params.local_testdata_base_path + 'references/Homo_sapiens/GRCh38/annotations/transcript_models/gtf/gencode.v47.primary_assembly.annotation.gtf.gz'
    genome                      = 'hg38'
    spikein_genome              = 'dm6'

    // Other parameters
    skip_umi_extract            = false
    with_umi                    = true
    
    // For speed to avoid CI time-out
    fingerprint_bins            = 100

}

cleanup = false