/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile ku_sund_danhead,local_test_chipseq --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_contact      = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_name         = 'ChIP-seq test profile (for DAN System users)'
    config_profile_description  = 'Test dataset to check ChIP-seq analysis functions of the pipeline (for DAN System users)'

    // Input data
    input                       = params.local_testdata_base_path + 'samplesheets/local_test_chipseq_samplesheet.csv'
    read_length                 = 50

    // Genome references
    aligner                     = 'chromap'
    chromap_index               = params.local_testdata_base_path + 'references/Homo_sapiens/T2T_CHM13/spiked/T2T_CHM13_dm6/indices/chromap_0.3.2_index/chm13v2.0_dm6.index'
    fasta                       = params.local_testdata_base_path + 'references/Homo_sapiens/T2T_CHM13/spiked/T2T_CHM13_dm6/genome/fasta/chm13v2.0_dm6.fa'
    gtf                         = params.local_testdata_base_path + 'references/Homo_sapiens/T2T_CHM13/annotations/transcript_models/gtf/gencode.v49.primary_assembly.annotation.liftoff.polished.agat.gtf'
    blacklist                   = params.local_testdata_base_path + 'references/Homo_sapiens/T2T_CHM13/annotations/blacklists/bed/chm13v2.liftover.Github.Boyle.Excludable_v2.bed.gz'
    tecount_te_index            = params.local_testdata_base_path + 'references/Homo_sapiens/T2T_CHM13/annotations/repeats/indices/TE_TEcount/RepeatMasker_chm13v2.0_dfam39.TEtranscripts.gtf.ind.gz'
    genome                      = 'T2T_CHM13'
    spikein_genome              = 'dm6'
    skip_flTbl                  = false

    // Downsampling parameters
    bam_downsampling_method     = 'min_endo_by_type'
    downsampling_endo_threshold = 500000
    downsampling_exo_threshold  = 30000

    // TE counting parameters
    skip_te_counting            = false
    skip_telocal                = true
 
    // UMI deduplication parameters
    skip_umi_extract            = false
    with_umi                    = true

    // Intermediate file saving parameters
    save_align_intermeds        = true
    save_spikein_intermeds      = true

    // For speed to avoid CI time-out
    fingerprint_bins            = 200
    skip_plot_profile           = true

}