/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/glseq -profile ku_sund_danhead,local_test_scarseq --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    
    config_profile_contact      = 'Samuel Ruiz-Pérez <samuel.perez@cpr.ku.dk>'
    config_profile_name         = 'SCAR-seq test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline SCAR-seq analysis function (for DAN System users)'

    max_cpus                    = 8
    max_memory                  = '64.GB'
    max_time                    = '72.h'

    // Input data
    input                       = params.local_testdata_base_path + 'samplesheets/local_test_scarseq_samplesheet.csv'

    // Genome references
    fasta                       = params.local_testdata_base_path + 'references/Mus_musculus/GRCm38/spiked/GRCm38_dm6/genome/fasta/GRCm38_dm6.primary_assembly.genome.fa.gz'
    gtf                         = params.local_testdata_base_path + 'references/Mus_musculus/GRCm38/annotations/transcript_models/gtf/gencode.vM25.primary_assembly.annotation.gtf.gz'
    initiation_zones            = params.local_testdata_base_path + 'references/Mus_musculus/GRCm38/external_data/Replication/Okazaki_seq/bed_files/OKseq_Initiation_Zones_mESC_SRR7535256_r1_R1.csorted.nodup.GRCm38_SE_smooth_results_w1000_s30_d30_z1.bed.gz'
    genome                      = 'mm10'
    spikein_genome              = 'dm6'
    scar_exclude_chromosomes    = "chrX,chrY,chrM,GL456210.1,GL456211.1,GL456212.1,GL456213.1,GL456216.1,GL456219.1,GL456221.1,GL456233.1,GL456239.1,GL456350.1,GL456354.1,GL456359.1,GL456360.1,GL456366.1,GL456367.1,GL456368.1,GL456370.1,GL456372.1,GL456378.1,GL456379.1,GL456381.1,GL456382.1,GL456383.1,GL456385.1,GL456387.1,GL456389.1,GL456390.1,GL456392.1,GL456393.1,GL456394.1,GL456396.1,JH584292.1,JH584293.1,JH584294.1,JH584295.1,JH584296.1,JH584297.1,JH584298.1,JH584299.1,JH584300.1,JH584301.1,JH584302.1,JH584303.1,JH584304.1"
    
    // Other parameters
    skip_umi_extract            = false
    with_umi                    = true

    // For speed to avoid CI time-out
    fingerprint_bins            = 100

}

cleanup = false