/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/glseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'ChIP-seq test profile'
    config_profile_description = 'Minimal test dataset to check pipeline ChIP-seq analysis function (for DAN System users)'

    max_cpus                   = 8
    max_memory                 = '64.GB'
    max_time                   = '72.h'

    // Input data
    input       = params.local_testdata_base_path + 'samplesheets/local_test_chipseq_samplesheet.csv'
    read_length = 50

    // Genome references
    fasta               = params.local_testdata_base_path + 'references/Mus_musculus/GRCm38/spiked/GRCm38_dm6/genome/fasta/GRCm38_dm6.primary_assembly.genome.fa.gz'
    gtf                 = params.local_testdata_base_path + 'references/Mus_musculus/GRCm38/annotations/transcript_models/gtf/gencode.vM25.primary_assembly.annotation.gtf.gz'
    genome              = mm10
    // For speed to avoid CI time-out
    fingerprint_bins = 100

    // Avoid preseq errors with test data
    skip_preseq = true

}
