/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile ku_sund_danhead,local_test_chipseq --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_contact      = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_name         = 'CUT&Tag and CUT&RUN test profile (for DAN System users)'
    config_profile_description  = 'Test dataset to check CUT&Tag and CUT&RUN analysis functions of the pipeline (for DAN System users)'

    // Input data
    input                       = params.local_testdata_base_path + 'samplesheets/local_test_cutandtag_samplesheet.csv'
    read_length                 = 100
    fragment_size               = 150
    coverage_extend_reads       = 150
    coverage_bin_size           = 150
    macs_extsize                = 150
    trim_full_length            = false

    // Genome references
    aligner                     = 'bowtie2'
    bowtie2_index               = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/spiked/GRCm39_dm6/indices/bowtie2_2.5.4_index/GRCm39_dm6.primary_assembly.genome'
    fasta                       = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/spiked/GRCm39_dm6/genome/fasta/GRCm39_dm6.primary_assembly.genome.fa'
    gtf                         = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/transcript_models/gtf/gencode.vM36.primary_assembly.annotation.gtf.gz'
    blacklist                   = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/blacklists/GRCm39.liftover.Github.Boyle.Excludable_v2.bed.gz'
    genome                      = 'GRCh39'
    skip_flTbl                  = false

    bam_downsampling_method     = 'min_endo_by_type'
    downsampling_endo_threshold = 500000
    downsampling_exo_threshold  = 30000
    skip_te_counting            = false
    skip_telocal                = true
    tecount_te_index            = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/repeats/indices/TE_TEcount/GRCm39_GENCODE_rmsk_TE.gtf.ind.gz'
    telocal_te_index            = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/repeats/indices/TE_TElocal/GRCm39_GENCODE_rmsk_TE.gtf.locInd.gz'
 

    // Other parameters
    skip_umi_extract            = false
    with_umi                    = true
    save_align_intermeds        = true
    save_spikein_intermeds      = true

    // For speed to avoid CI time-out
    fingerprint_bins            = 150
    skip_plot_profile           = true

}