/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile test_espan,<docker/singularity> --outdir <OUTDIR>

    NOTE:
    In the input samplesheet, some samples labelled as H3K27me3 in GEO should be H3.3:
    GSM6696937-GSM6696945 are titled <genotype> H3K27me3 eSPAN <0/3/8>h timelaps but
    their chip antibody characteristic is Ant-H3.3 Antibody (Proteintech_13754-1-ap).
    The antibody field is correct; the title is wrong. These are H3.3 eSPAN, not H3K27me3 eSPAN.

----------------------------------------------------------------------------------------
*/

process {
    cache = 'lenient'
}

params {

    config_profile_contact      = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_name         = 'eSPAN test profile'
    config_profile_description  = 'Test dataset to check eSPAN analysis functions of the pipeline'

    // Input data
    input                   = params.crepas_testdata_base_path + 'samplesheet/v1.0.0/samplesheet_test_espan.csv'

    // Genome references
    genome              = 'mm10'
    aligner             = 'bowtie2'
    fasta               = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa'
    gtf                 = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf'
    initiation_zones    = params.crepas_testdata_base_path + 'reference/OK-seq_SRR7535256_bRep_1.mLb.mkD.flT1.mm10.flT3.flTbl.rpm.RFD.w1000.s30.d30.z1.collect.init_zones.rm_overlaps.bed.gz'
    trim_minimum_length = 10

    // For speed to avoid CI time-out
    fingerprint_bins            = 200
}
