/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile test_scarseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    cache = 'lenient'
}

params {
    
    config_profile_contact      = 'Samuel Ruiz-Pérez <samper@cancer.dk>'
    config_profile_name         = 'SCAR-seq test profile'
    config_profile_description  = 'Test dataset to check SCAR-seq analysis functions of the pipeline'

    // Input data
    input                   = params.crepas_testdata_base_path + 'samplesheet/v1.0.0/samplesheet_test_scarseq.csv'

    // Genome references
    genome              = 'mm10'
    fasta               = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa'
    gtf                 = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf'
    initiation_zones    = params.crepas_testdata_base_path + 'reference/OK-seq_SRR7535256_bRep_1.mLb.mkD.flT1.flT3.flTbl.rpm.RFD.w1000.s30.d30.z1.collect.init_zones.rm_overlaps.bed.gz'
    skip_flTbl          = true

    // For speed to avoid CI time-out
    fingerprint_bins            = 200
}