/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile test_chipseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    cache 'lenient'
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input       = params.crepas_testdata_base_path + 'samplesheet/v1.0.0/samplesheet_test_chipseq.csv'
    read_length = 50

    // Genome references
    genome          = 'R64-1-1'
    fasta           = params.igenomes_base + '/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa'
    gtf             = params.igenomes_base + '/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf'
    skip_flTbl      = true

    // For speed to avoid CI time-out
    fingerprint_bins = 100

    // Avoid preseq errors with test data
    skip_preseq = true
}
