/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile test_chorseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    cache 'lenient'
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input       = params.crepas_testdata_base_path + 'samplesheet/v1.0.0/samplesheet_test_atacseq.csv'
    read_length = 75

    // Genome references
    genome          = 'mm10'
    spikein_genome  = 'dm6'
    fasta           = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa'
    spikein_fasta   = params.igenomes_base + '/Drosophila_melanogaster/UCSC/dm6/Sequence/WholeGenomeFasta/genome.fa'
    gtf             = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf'
    skip_flTbl      = true

    // For speed to avoid CI time-out
    fingerprint_bins = 100

}
