/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/glseq -profile ku_sund_danhead,test_chipexo --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_contact      = 'Samuel Ruiz-Pérez <samuel.perez@cpr.ku.dk>'
    config_profile_name         = 'ChIP-exo test profile'
    config_profile_description  = 'Test dataset to check ChIP-exo analysis functions of the pipeline'

    // Input data
    input                       = "${projectDir}/assets/samplesheets/test_chipexo_samplesheet.csv"
    read_length                 = 50

    // Genome references
    aligner                     = 'chromap'
    chromap_index               = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/indices/chromap_0.2.6_index/GRCm39.primary_assembly.genome.index'
    fasta                       = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/genome/fasta/GRCm39.primary_assembly.genome.fa.gz'
    gtf                         = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/transcript_models/gtf/gencode.vM36.primary_assembly.annotation.gtf'
    blacklist                   = params.local_testdata_base_path + 'references/Mus_musculus/GRCm39/annotations/blacklists/GRCm39.ExcludeRanges.Boyle.Excludable_v2.bed.gz'
    genome                      = 'GRCm39'

    // Other parameters
    save_align_intermeds        = true
    save_spikein_intermeds      = true

    // For speed to avoid CI time-out
    fingerprint_bins            = 200
    skip_plot_profile           = true

}