/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run grothlab/crepas -profile test_okseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'crepas: OK-seq Test profile'
    config_profile_description = 'OK-seq dataset to test pipeline function'

    // Input data
    input                   = params.crepas_testdata_base_path + 'samplesheet/v1.0.0/samplesheet_test_okseq.csv'
    read_length             = 75
    fragment_size           = 200
    partition_fragment_size = 200

    // Genome references
    genome          = 'mm10'
    fasta           = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa'
    gtf             = params.igenomes_base + '/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf'
    skip_flTbl      = true

    // Other parameters
    trim_full_length    = false
    trim_minimum_length = 10
    trim_maximum_length = 70

    // For speed to avoid CI time-out
    fingerprint_bins = 100

}
