process {
    withName: 'BOWTIE2_ALIGN' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb" 
        }
        ext.args   = {
            [
                meta.read_group ? "--rg-id ${meta.id} --rg SM:${meta.id - ~/_T\d+$/} --rg PL:ILLUMINA --rg LB:${meta.id} --rg PU:1" : '',
                params.seq_center ? "--rg CN:${params.seq_center}" : '',
                params.map_n_multimappers ? "-k ${params.map_n_multimappers}" : '',
                "-X2000"
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/library" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ],
            [
                path: { "${params.outdir}/${params.aligner}/library/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.save_unaligned
            ]
        ]
    }
}
