process {
    withName: 'BOWTIE2_ALIGN' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb" 
        }
        ext.args   = {
            [
                params.align_end_to_end ? '--end-to-end' : '--local',
                meta.read_group ? "--rg-id ${meta.id} --rg SM:${meta.id - ~/_tRep_.*$/} --rg PL:${params.seq_platform} --rg LB:${meta.id} --rg PU:1" : '',
                params.seq_center ? "--rg CN:${params.seq_center}" : '',
                params.map_n_multimappers ? "-k ${params.map_n_multimappers}" : '',
                meta.exp_type in ['CUTandRUN', 'CUTandTag', 'TIP-seq'] ? "--very-sensitive --no-mixed --no-discordant --minins 10 --maxins 700 --dovetail" :
                    meta.exp_type == 'eSPAN' ? "--very-sensitive --no-mixed --no-discordant --no-dovetail -N 1 --maxins 1000" :
                    '--maxins 2000'
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/library" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ],
            [
                path: { "${params.outdir}/${params.aligner}/library/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.save_unaligned
            ]
        ]
    }
}
