process {
    withName: 'SAMPLESHEET_CHECK' {
        ext.args   = 'samplesheet.valid.csv'
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
