process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:SAMTOOLS_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/1_nsort"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:BEDTOOLS_BAMTOBED' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args = { [
            meta.single_end ? '' : '-bedpe -mate1'
        ].join(' ').trim()}
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/2_bamtobed"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bed',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:BED_TO_TAGALIGN' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/3_bed_to_tagalign"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:TAGALIGN_SELF_PSEUDOREPLICATES' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/4_self_pseudoreps"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:TAGALIGN_POOL' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' + meta.pseudoreplicate : ''}" +
            ".pooled.tagAlign"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/5_pooled"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:PHANTOMPEAKQUALTOOLS_SPP' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' + meta.pseudoreplicate : ''}" +
            "${meta.is_pooled ? '.pooled' : ''}" +
            ".spp"
        }
        ext.args   = { "--max-ppsize=500000" }
        ext.args2   = { [
            "-rf",
            params.spp_npeak ? "-npeak=${params.spp_npeak}" : '',
            params.fragment_size ? "-speak=${params.fragment_size}" : '',
            "-x=${params.xcor_exclusion_range_min}:${params.xcor_exclusion_range_max ?: ((params.read_length + 10) > 100 ? (params.read_length + 10) : 100)}"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/6_spp"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{ccscores,pdf,Rdata,narrowPeak.gz,regionPeak.gz}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:PEAKS_FILTER_BLACKLIST' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' + meta.pseudoreplicate : ''}" +
            "${meta.is_pooled ? '.pooled' : ''}" +
            ".spp" +
            ".flTbl"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/6_spp"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{narrowPeak,broadPeak,bed}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:IDR' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' : ''}" +
            ".flTbl" +
            ".idr" +
            ".${meta.peak_consensus_pair_type}" +
            "${meta.peak_consensus_pair_type == 'true_replicate' ? '.bRep_' + meta.idr_pair_breps[0] + '_vs_bRep_' + meta.idr_pair_breps[1] : ''}"
        }
        ext.args = { [
            "--rank signal.value",
            params.idr_soft_threshold ? "--soft-idr-threshold ${params.idr_soft_threshold}" : '',
            params.use_best_multisummit_idr ? "--use-best-multisummit-IDR" : ''
        ].join(' ').trim()}
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/7_idr" +
                "/${meta.peak_consensus_pair_type}"

            },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,png}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:IDR_FILTER_THRESHOLD' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' : ''}" +
            ".flTbl" +
            ".idr" +
            ".${meta.peak_consensus_pair_type}" +
            "${meta.peak_consensus_pair_type == 'true_replicate' ? '.bRep_' + meta.idr_pair_breps[0] + '_vs_bRep_' + meta.idr_pair_breps[1] : ''}" +
            ".flT.${params.idr_filtering_threshold}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/7_idr" +
                "/${meta.peak_consensus_pair_type}/"

            },
            mode: params.publish_dir_mode,
            pattern: '*.{narrowPeak,broadPeak,bed}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:PEAKS_NAIVE_OVERLAP' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' : ''}" +
            ".flTbl" +
            ".naive_overlap" +
            ".${meta.peak_consensus_pair_type}" +
            "${meta.peak_consensus_pair_type == 'true_replicate' ? '.bRep_' + meta.idr_pair_breps[0] + '_vs_bRep_' + meta.idr_pair_breps[1] : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/7_naive_overlap" +
                "/${meta.peak_consensus_pair_type}"

            },
            mode: params.publish_dir_mode,
            pattern: '*.{narrowPeak,broadPeak,bed}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }    

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:CONSENSUS_FILTER_BLACKLIST' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' : ''}" +
            ".flTbl" +
            ".${meta.peak_consensus_type}" +
            ".${meta.peak_consensus_pair_type}" +
            "${meta.peak_consensus_pair_type == 'true_replicate' ? '.bRep_' + meta.idr_pair_breps[0] + '_vs_bRep_' + meta.idr_pair_breps[1] : ''}" +
            "${meta.peak_consensus_type == 'idr' ? '.flT' + params.idr_filtering_threshold : ''}" +
            ".flTbl"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/" +
                "7_${meta.peak_consensus_type}" +
                "/${meta.peak_consensus_pair_type}/"

            },
            mode: params.publish_dir_mode,
            pattern: '*.{narrowPeak,broadPeak,bed}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:TAGALIGN_FRIP_SCORE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.is_pseudoreplicate ? '.spr' : ''}" +
            ".flTbl" +
            ".${meta.peak_consensus_type}" +
            ".${meta.peak_consensus_pair_type}" +
            "${meta.peak_consensus_pair_type == 'true_replicate' ? '.bRep_' + meta.idr_pair_breps[0] + '_vs_bRep_' + meta.idr_pair_breps[1] : ''}" +
            "${meta.peak_consensus_type == 'idr' ? '.flT' + params.idr_filtering_threshold : ''}" +
            ".flTbl" +
            ".FRiP"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/" +
                "7_${meta.peak_consensus_type}" +
                "/${meta.peak_consensus_pair_type}/"

            },
            mode: params.publish_dir_mode,
            pattern: '*.{txt,bed}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
