process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:SAMTOOLS_SORT' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
                ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/1_nsort"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:BEDTOOLS_BAMTOBED' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        ext.args = { [
            meta.single_end ? '' : '-bedpe -mate1'
        ].join(' ').trim()}
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/2_bamtobed"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bed',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:BED_TO_TAGALIGN' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/3_bed_to_tagalign"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:TAGALIGN_SELF_PSEUDOREPLICATES' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/4_self_pseudoreps"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:TAGALIGN_POOL' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
                "${meta.pseudoreplicate ? '.spr' + meta.pseudoreplicate : ''}" +
                ".pooled.tagAlign"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/5_pooled"
            },
            mode: params.publish_dir_mode,
            pattern: '*.tagAlign',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_ENCODE_PIPELINE:PHANTOMPEAKQUALTOOLS' {
        ext.prefix = {
                "${meta.id}" +
                "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
                "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
                ".mLb." +
                "${params.with_umi ? 'dedup' : 'mkD'}" +
                ".flT1" +
                "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
                "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
                "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
                "${!params.skip_flT3 ? '.flT3' : ''}" +
                "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
                "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
                "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
                "${meta.pseudoreplicate ? '.spr' + meta.pseudoreplicate : ''}" +
                "${meta.pooled ? '.pooled' : ''}" +
                ".spp"
        }
        ext.args   = { "--max-ppsize=500000" }
        ext.args2  = { "-p=$task.cpus -rf -npeak=300000" }
        publishDir = [
            path: { 
                "${params.outdir}/${meta.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/encode3_pipeline/6_spp"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{ccscores,pdf,Rdata,narrowPeak.gz,regionPeak.gz}',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}