process {
    withName: 'BOWTIE_ALIGN' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb" 
        }
        ext.args   = {
            [
                meta.read_group ? "--sam-RG ID:${meta.id} --sam-RG SM:${meta.id - ~/_tRep_.*$/} --sam-RG PL:ILLUMINA --sam-RG LB:${meta.id} --sam-RG PU:1" : '',
                params.seq_center ? "--sam-RG CN:${params.seq_center}" : '',
                params.map_n_multimappers ? "-k ${params.map_n_multimappers}" : '',
                meta.single_end ? '' : "--maxins 2000",
                "--best"
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/bowtie/library" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ],
            [
                path: { "${params.outdir}/bowtie/library/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.save_unaligned
            ]
        ]
    }
}
