process {
    withName: 'STROBEALIGN' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb"
        }
        ext.args   = {
            [
                meta.read_group ? "--rg-id ${meta.id} --rg=SM:${meta.id - ~/_tRep_.*$/} --rg=PL:${params.seq_platform} --rg=LB:${meta.id} --rg=PU:1" : '',
                params.seq_center ? "--rg=CN:${params.seq_center}" : '',
                params.map_n_multimappers ? "-N ${params.map_n_multimappers}" : '',
                '-U',
                params.strobealign_index ? "--use-index" : ''
            ].join(' ').trim()
        }
        ext.args2  = '-O BAM'
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/library" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                enabled: false
            ]
        ]
    }
}
