

process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_DEDUP_UMI:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:UMITOOLS_DEDUP' {  
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.dedup.sorted" }
        ext.args = { [
            meta.single_end ? '' : '--unpaired-reads=discard --chimeric-pairs=discard',
            params.umi_grouping_method ? "--method='${params.umi_grouping_method}'" : '',
            params.umi_separator ? "--umi-separator='${params.umi_separator}'" : ''
        ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/umitools_dedup" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,tsv,log}',
            enabled: params.save_dedup_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_DEDUP_UMI:BAM_DEDUP_STATS_SAMTOOLS_UMICOLLAPSE_GENOME:UMICOLLAPSE' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.dedup.sorted" }
        ext.args = { [
            '--two-pass',
            meta.single_end ? '' : '--paired --remove-unpaired --remove-chimeric',
            params.umi_grouping_method == 'directional' ? '--algo dir' :
                params.umi_grouping_method == 'adjacency' ? '--algo adj' :
                    params.umi_grouping_method == 'cluster' ? '--algo cc' :
                        '',
            params.umi_separator ? "--umi-sep '${params.umi_separator}'" : ''
        ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/mergedLibrary/umicollapse" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,gz,log}',
            enabled: params.save_dedup_intermeds
        ]                   
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_DEDUP_UMI:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "/${params.umi_dedup_tool == 'umitools' ? 'umitools_dedup' : params.umi_dedup_tool == 'umicollapse' ? 'umicollapse' : ''}"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}',
            enabled: params.save_dedup_intermeds
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_DEDUP_UMI:BAM_DEDUP_STATS_SAMTOOLS_UMI(COLLAPSE|TOOLS)_GENOME:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
        ext.prefix = { "${meta.id}${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}.mLb.dedup.sorted" }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "/${params.umi_dedup_tool == 'umitools' ? 'umitools_dedup' : params.umi_dedup_tool == 'umicollapse' ? 'umicollapse' : ''}"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{stats,flagstat,idxstats}',
            enabled: params.save_dedup_intermeds
        ]
    }
}
