

process {
    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:MACS3_CONSENSUS' {
        ext.when   = { meta.multiple_groups || meta.replicates_exist }
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".consensus_peaks"
        }
        ext.args1 = { [
            params.consensus_peaks_max_dist ? "-d ${params.consensus_peaks_max_dist}" : ''
        ].join(' ').trim() }
        ext.args2 = { [
            params.consensus_min_replicates_per_sample ? "--min_replicates_per_sample ${params.consensus_min_replicates_per_sample}" : ''
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.id}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:SUBREAD_FEATURECOUNTS'  {
        ext.args   = '-F SAF -O --fracOverlap 0.2'
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".consensus_peaks"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.id}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:HOMER_ANNOTATEPEAKS' {
        ext.args   = '-gid'
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".consensus_peaks"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.id}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:ANNOTATE_BOOLEAN_PEAKS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".consensus_peaks"
        }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.id}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:DESEQ2_QC' {
        ext.when   = { meta.multiple_groups && meta.replicates_exist }
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb" +
            "${params.multimap_allocation_method ? '.' + (params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method) : ''}" +
            "${meta.with_umi ? '.dedup' : !params.skip_markduplicates ? '.mkD' : ''}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            ".consensus_peaks"
        }
        ext.args   = [
            '--id_col 1',
            '--sample_suffix \'.mLb.clN.sorted.bam\'', // TODO: this is not correct, the following is:
            '--count_col 7',
            params.deseq2_vst ? '--vst TRUE' : ''
        ].join(' ').trim()
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.id}/deseq2"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:DEEPTOOLS_COMPUTEMATRIX_PEAKS' {
        ext.prefix = {
            "${meta.exp_type}" +
            "_${meta.antibody}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args = { [
            params.consensus_plotprofile_mode == 'scale_regions' ? 'scale-regions' : 'reference-point',
            params.consensus_plotprofile_ref_point && params.consensus_plotprofile_mode != 'scale_regions' ? "--referencePoint ${params.consensus_plotprofile_ref_point}" : "",
            params.consensus_plotprofile_region_body_length && params.consensus_plotprofile_mode == 'scale_regions' ? "--regionBodyLength ${params.consensus_plotprofile_region_body_length}" : "",
            params.coverage_bin_size ? "--binSize ${params.coverage_bin_size}" : "",
            params.consensus_plotprofile_upstream ? "--beforeRegionStartLength ${params.consensus_plotprofile_upstream}" : "",
            params.consensus_plotprofile_downstream ? "--afterRegionStartLength ${params.consensus_plotprofile_downstream}" : "",
            params.coverage_skip_nas ? "" : '--missingDataAsZero',
            params.consensus_plotprofile_skip_zeros ? "--skipZeros" : "",
            "--samplesLabel ${meta.ids.join(' ')}"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.exp_type}_${meta.antibody}" +
                "/plotProfile" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:DEEPTOOLS_PLOTPROFILE_PEAKS' {
        ext.prefix = {
            "${meta.exp_type}" +
            "_${meta.antibody}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args = { [
            "--plotHeight 12 --plotWidth 14",
            params.consensus_plotprofile_per_group ? '--perGroup' : '',
            "--regionsLabel '${meta.antibody} ${meta.exp_type} over consensus peaks'",
            "--yAxisLabel '${meta.averaged_brep ? 'Average' : ''} ${meta.norm_factor_type.toUpperCase()} ${meta.signal_vs_input_operation ? meta.signal_vs_input_operation.toUpperCase() : ''}'"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.exp_type}_${meta.antibody}" +
                "/plotProfile" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_CONSENSUS_QUANTIFY_QC_BEDTOOLS_FEATURECOUNTS_DESEQ2:DEEPTOOLS_PLOTHEATMAP_PEAKS' {
        memory = { 36.GB * task.attempt }
        ext.prefix = {
            "${meta.exp_type}" +
            "_${meta.antibody}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_vs_input_operation ? '.' + meta.signal_vs_input_operation : ''}" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args = { [
            "--plotTitle '${meta.antibody} ${meta.exp_type} signal'",
            "--regionsLabel 'over consensus peaks'",
            "--xAxisLabel 'Distance (kb) from peak'",
            "--yAxisLabel '${meta.averaged_brep ? 'Average' : ''} ${meta.norm_factor_type.toUpperCase()} ${meta.signal_vs_input_operation ? meta.signal_vs_input_operation.toUpperCase() : ''}'"
        ].join(' ').trim() }
        publishDir = [
            path: {
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? (params.multimap_allocation_method != 'chromap' ? params.multimap_allocation_method : '') : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/macs3/" +
                "${params.narrow_peak ? 'narrow_peak' : 'broad_peak'}" +
                "/consensus/${meta.exp_type}_${meta.antibody}" +
                "/plotProfile" +
                "${meta.norm_factor_type ? '/' + meta.norm_factor_type : ''}" +
                "${meta.signal_vs_input_operation ? '/' + meta.signal_vs_input_operation : ''}" +
                "${meta.averaged_brep ? '/bRep_avg' : ''}"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
