
process {
    withName: 'SEACR_CALLPEAK' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${params.coverage_bin_size ? '.' + params.coverage_bin_size : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.norm_factor_type == 'raw' ? '.map' : ''}" +
            "${meta.is_input_control ? '.ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.signal_over_input ? '.soi' : ''}"
        }
        ext.args   = "${params.seacr_norm} ${params.seacr_stringency}"
        publishDir = [
            path: { 
                    "${params.outdir}/${params.aligner}/mergedLibrary/" +
                    "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                    "/${meta.exp_type}" +
                    "${meta.downsampling_method ? '/downsampled' : ''}" +
                    "/SEACR/"
            },
            mode: params.publish_dir_mode,
            pattern: '*.bed',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}