
process {
    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_DANPOS2_HOMER:BAM_REMOVE_SCAFFOLDS' { 
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/danpos2/dpeak/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_GLSEQ:GLSEQ:BAM_PEAKS_CALL_QC_ANNOTATE_DANPOS2_HOMER:DANPOS2_DPEAK' {       
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/danpos2/dpeak/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}