
process {
    withName: 'MINIMAP2_ALIGN' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb.sorted"
        }
        ext.args   = {
            [
                params.minimap2_preset ? "-x ${params.minimap2_preset}" : '',
                params.minimap2_kmer_length ? "-k ${params.minimap2_kmer_length}" : '',
                params.minimap2_min_win_size ? "-w ${params.minimap2_min_win_size}" : '',
                params.map_n_multimappers ? "--secondary=yes -N ${params.map_n_multimappers}" : '',
                meta.read_group ? "-R @RG\\\\tID:${meta.id}\\\\tSM:${meta.id - ~/_tRep_.*$/}\\\\tPL:${params.seq_platform}\\\\tLB:${meta.id}\\\\tPU:1" +
                    (params.seq_center ? "\\\\tCN:${params.seq_center}" : '') : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_ALIGN:FASTQ_ALIGN_MINIMAP2:BAM_STATS_SAMTOOLS:SAMTOOLS_.*' {
         ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".Lb.sorted.bam"
        }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/library" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_align_intermeds
        ]
    }

}
