process {
    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_FASTQC_UMITOOLS_UMITRANSFER_TRIMGALORE:FASTQC' {
        ext.args = '--quiet'
        publishDir = [
            [
                path: { "${params.outdir}/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html}"
            ],
            [
                path: { "${params.outdir}/fastqc/zips" },
                mode: params.publish_dir_mode,
                pattern: "*.{zip}"
            ]
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_FASTQC_UMITOOLS_UMITRANSFER_TRIMGALORE:FASTQ_EXTRACT_SPIKEIN_BARCODES' {
        publishDir = [
            [
                path: { "${params.outdir}/spikein_barcodes/extract" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}"
            ]
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_FASTQC_UMITOOLS_UMITRANSFER_TRIMGALORE:UMITRANSFER' {
        ext.args   = {[
            "--delim ${params.umi_separator}",
            "--correct_numbers"
        ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/umitransfer" },
                mode: params.publish_dir_mode,
                pattern: "*.{fastq.gz,log}"
            ]
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:FASTQ_FASTQC_UMITOOLS_UMITRANSFER_TRIMGALORE:UMITOOLS_EXTRACT' {
        ext.args   = { [
            params.umitools_extract_method ? "--extract-method=${params.umitools_extract_method}" : '',
            params.umitools_bc_pattern     ? "--bc-pattern='${params.umitools_bc_pattern}'" : '',
            params.umitools_bc_pattern2    ? "--bc-pattern2='${params.umitools_bc_pattern2}'" : '',
            params.umi_separator           ? "--umi-separator='${params.umi_separator}'" : ''
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/umitools_extract" },
                mode: params.publish_dir_mode,
                pattern: "*.{fastq.gz,log}"
            ]
        ]
    }

    withName: 'TRIMGALORE' {
    // For this module,the prefix is not for the output file but for the input
    // Besides, Trimgalore automatically adds a suffix to the trimmed file (e.g. "sample_1.50bp_5prime.fq.gz")
    // ext.prefix = {
    //     "${meta.id}" +
    //     "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
    //     "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}"
    // }
    ext.args   = {
            [
                '--fastqc',
                // for this way of inputting adapters,
                // see https://github.com/FelixKrueger/TrimGalore/issues/86#issuecomment-2122205726
                // if exp_type is 'ChIP-seq', 'ChOR-seq', or 'SCAR-seq', use the full Truseq adapter
                params.trim_full_length ?
                    // TruSeq adapters
                    ['ChIP-seq', 'ChOR-seq', 'SCAR-seq', 'OK-seq'].contains(meta.exp_type) ?
                        meta.single_end ?
                            '-a " ACACTCTTTCCCTACACGACGCTCTTCCGATCT ' +
                            '-a TGACTGGAGTTCAGACGTGTGCTCTTCCGATCT ' +
                            '-a AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT ' +
                            '-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"' :
                                // now for paired-end:
                                '-a " ACACTCTTTCCCTACACGACGCTCTTCCGATCT ' +
                                '-a TGACTGGAGTTCAGACGTGTGCTCTTCCGATCT ' +
                                '-a AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT ' +
                                '-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCA" ' +
                                '-a2 " ACACTCTTTCCCTACACGACGCTCTTCCGATCT ' +
                                '-a TGACTGGAGTTCAGACGTGTGCTCTTCCGATCT ' +
                                '-a AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT ' +
                                '-a AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"' :
                    // Nextera adapters (https://github.com/timflutre/trimmomatic/blob/3694641a92d4dd9311267fed85b05c7a11141e7c/adapters/NexteraPE-PE.fa)
                    ['ATAC-seq', 'CUTandRUN', 'CUTandTag', 'TIP-seq', 'eSPAN'].contains(meta.exp_type) ?
                        meta.single_end ?
                            '-a " AGATGTGTATAAGAGACAG ' +
                            '-a AGATGTGTATAAGAGACAG ' +
                            '-a TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG ' +
                            '-a CTGTCTCTTATACACATCTGACGCTGCCGACGA ' +
                            '-a GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG ' +
                            '-a CTGTCTCTTATACACATCTCCGAGCCCACGAGAC"' :
                                // now for paired-end:
                                '-a " AGATGTGTATAAGAGACAG ' +
                                '-a AGATGTGTATAAGAGACAG ' +
                                '-a TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG ' +
                                '-a CTGTCTCTTATACACATCTGACGCTGCCGACGA ' +
                                '-a GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG ' +
                                '-a CTGTCTCTTATACACATCTCCGAGCCCACGAGAC" ' +
                                '-a2 " AGATGTGTATAAGAGACAG ' +
                                '-a AGATGTGTATAAGAGACAG ' +
                                '-a TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG ' +
                                '-a CTGTCTCTTATACACATCTGACGCTGCCGACGA ' +
                                '-a GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG ' +
                                '-a CTGTCTCTTATACACATCTCCGAGCCCACGAGAC"' :
                    '' :
                '',
                params.trim_stringency ? "--stringency ${params.trim_stringency}" : '',
                params.trim_error_rate ? "-e ${params.trim_error_rate}" : '',
                params.trim_q_cutoff ? "--quality ${params.trim_q_cutoff}" : '',
                params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : '',
                params.clip_r1 > 0 ? "--clip_r1 ${params.clip_r1}" : '',
                params.clip_r2 > 0 ? "--clip_r2 ${params.clip_r2}" : '',
                params.three_prime_clip_r1 > 0 ? "--three_prime_clip_r1 ${params.three_prime_clip_r1}" : '',
                params.three_prime_clip_r2 > 0 ? "--three_prime_clip_r2 ${params.three_prime_clip_r2}" : '',
                params.trim_minimum_length > 0 ? "--length ${params.trim_minimum_length}" : '',
                params.trim_maximum_length > 0 ? "--max_length ${params.trim_maximum_length}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/trimgalore/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.html"
            ],
            [
                path: { "${params.outdir}/trimgalore/fastqc/zips" },
                mode: params.publish_dir_mode,
                pattern: "*.zip"
            ],
            [
                path: { "${params.outdir}/trimgalore/logs" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_trimmed

            ]
        ]
    }

    withName: 'TRIMGALORE_HARDTRIM' {
        ext.args  = {
            [
                '--fastqc',
                params.hardtrim5_length ? "--hardtrim5 ${params.hardtrim5_length}" : '',
                params.hardtrim3_length ? "--hardtrim3 ${params.hardtrim3_length}" : ''
            ].join(' ').trim()
        }
        publishDir = [
            path: { "${params.outdir}/trimgalore/hardtrim" },
            mode: params.publish_dir_mode,
            pattern: "*.fq.gz",
            enabled: params.save_hardtrimmed
        ]
    }
}
