
process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BAM_SPLIT_BY_STRAND' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/1_split_by_strand/"
            },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.bam",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:SAMTOOLS_INDEX' {
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/1_split_by_strand/"
            },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}',
            enabled: params.save_partition_intermeds,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BEDTOOLS_GENOMECOV' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".genomecov"
        }
        ext.args   = { [
            '-bg',
            meta.single_end && params.partition_fragment_size > 0 ? "-fs ${params.partition_fragment_size}" : '',
            !meta.single_end ? "-pc" : "",
            "-g $sizes"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/2_genomecov/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bdg",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BEDGRAPH_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'atacseq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_control) ? '_ref_' + meta.control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".genomecov" +
            ".sorted"
        }
        ext.args  = "-k1,1V -k2,2n"
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/2_genomecov/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedGraph",
            enabled: params.save_partition_intermeds
        ]
    }



    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:UCSC_BEDGRAPHTOBIGWIG_WINDOWS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${params.blacklist ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".genomecov"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/2_genomecov/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BEDTOOLS_MAKEWINDOWS' {
        ext.prefix = { "${meta.id}.windows" }
        ext.args   = { [
            "-i srcwinnum",
            "-w ${params.partition_window_size}",
            "-s ${params.partition_step_size}"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/genome/windows" },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: false
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:WINDOWS_SORT' {
        ext.prefix = { "${meta.id}.windows.sorted" }
        ext.args  = "-k1,1V -k2,2n"
        publishDir = [
            path: { "${params.outdir}/genome/windows" },
            mode: params.publish_dir_mode,
            pattern: "*.bed",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:UCSC_BIGWIGAVERAGEOVERBED' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".bwaob"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/3_bwaob/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tab",
            enabled: false
        ]
    }


    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BWAOB_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".bwaob" +
            ".sorted"
        }
        ext.args  = "-k1,1V"
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/3_bwaob/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tab",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BWAOB_NORMALIZE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".bwaob" +
            ".${meta.norm_factor_type}"
        }
        ext.args2 = { [
            "--norm_factor ${meta.norm_factor_val}",
            "--add_pseudocount"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/3_bwaob/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tab",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:BEDGRAPH_SIGNAL_MINUS_INPUT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            ".smi"
        }
        ext.args2 = { [
            "--norm_factor ${meta.norm_factor_val}"
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/4_smi/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bedgraph",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:PARTITION_OR_RFD_SMOOTH' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_minus_input ? '.smi' : ''}" +
            ".${meta.exp_type == 'SCAR-seq' ? 'partition' : meta.exp_type == 'OK-seq' ? 'RFD' : ''}" +
            ".w${params.partition_window_size}" +
            ".s${params.smooth_radius}" +
            ".d${params.derivative_radius}" +
            ".z${params.zero_crossing_radius}"
        }        
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/5_smooth/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            enabled: params.save_partition_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:COLLECT_PARTITIONS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_minus_input ? '.smi' : ''}" +
            ".${meta.exp_type == 'SCAR-seq' ? 'partition' : meta.exp_type == 'OK-seq' ? 'RFD' : ''}" +
            ".w${params.partition_window_size}" +
            ".s${params.smooth_radius}" +
            ".d${params.derivative_radius}" +
            ".z${params.zero_crossing_radius}" +
            ".collect"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/6_collect/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,bdg}"
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:PARTITION_AVERAGE' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_minus_input ? '.smi' : ''}" +
            ".${meta.exp_type == 'SCAR-seq' ? 'partition' : meta.exp_type == 'OK-seq' ? 'RFD' : ''}" +
            ".w${params.partition_window_size}" +
            ".s${params.smooth_radius}" +
            ".d${params.derivative_radius}" +
            ".z${params.zero_crossing_radius}" +
            ".collect" +
            ".bRep_avg"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/6_collect/" +
                "/bRep_average/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,bdg}"
        ]
    }       

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:PARTITION_PLOT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_minus_input ? '.smi' : ''}" +
            ".${meta.exp_type == 'SCAR-seq' ? 'partition' : meta.exp_type == 'OK-seq' ? 'RFD' : ''}" +
            ".w${params.partition_window_size}" +
            ".s${params.smooth_radius}" +
            ".d${params.derivative_radius}" +
            ".z${params.zero_crossing_radius}" +
            ".collect" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        ext.args   = { [
            "--rpm_cutoff ${params.partition_rpm_cutoff}",
            "--plot_range ${params.partition_plot_range}",
            params.partition_exclude_chromosomes ? "--exclude_chromosomes '${params.partition_exclude_chromosomes}'" : '',
            params.partition_exclude_scaffolds ? "--exclude_scaffolds '${params.partition_exclude_scaffolds}'" : ''
        ].join(' ').trim() }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/7_plots" +
                "${meta.averaged_brep ? '/bRep_average' : ''}/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.{pdf,png,tsv}"
        ]
    }
    
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_CREATE_PARTITIONS:UCSC_BEDGRAPHTOBIGWIG_PARTITIONS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1" +
            "${params.spikein_genome ? '.' + meta.genome + '.flT2' : ''}" +
            "${params.multimap_allocation_method ? '.' + params.multimap_allocation_method : ''}" +
            "${meta.exp_type == 'ATAC-seq' ? '.shifted' : ''}" +
            "${!params.skip_flT3 ? '.flT3' : ''}" +
            "${meta.flTbl_total_mapped_reads ? !meta.single_end ? '.flTbl.rmO' : '.flTbl' : ''}" +
            "${meta.downsampling_method ? '.dSp_' + meta.downsampling_method : ''}" +
            "${(meta.downsampling_method && meta.is_input_control) ? '_ref_' + meta.input_control_of_antibody : ''}" +
            "${meta.strand ? '.' + meta.strand : ''}" +
            ".${meta.norm_factor_type}" +
            "${meta.signal_minus_input ? '.smi' : ''}" +
            ".${meta.exp_type == 'SCAR-seq' ? 'partition' : meta.exp_type == 'OK-seq' ? 'RFD' : ''}" +
            ".w${params.partition_window_size}" +
            ".s${params.smooth_radius}" +
            ".d${params.derivative_radius}" +
            ".z${params.zero_crossing_radius}" +
            ".collect" +
            "${meta.averaged_brep ? '.bRep_avg' : ''}"
        }
        publishDir = [
            path: { 
                "${params.outdir}/${params.aligner}/mergedLibrary/" +
                "${params.multimap_allocation_method ? params.multimap_allocation_method == 'chromap' ? 'cm_allo' : params.multimap_allocation_method : ''}" +
                "/${meta.exp_type}" +
                "${meta.downsampling_method ? '/downsampled' : ''}" +
                "/6_collect" +
                "${meta.averaged_brep ? '/bRep_average' : ''}/"
            },
            mode: params.publish_dir_mode,
            pattern: "*.bigWig"
        ]
    }
}
