process {
    withName: 'STAR_ALIGN' {
        ext.prefix = { 
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            ".Lb" 
        }
        ext.args   = [
            '--runMode alignReads',
            '--alignIntronMax 1',
            '--alignEndsType EndToEnd',
            '--outSAMtype BAM Unsorted',
            '--readFilesCommand zcat',
            '--runRNGseed 0',
            '--outSAMattributes NH HI AS NM MD',
            params.save_unaligned ? '--outReadsUnmapped Fastx' : '',
            params.map_n_multimappers ? "--outFilterMultimapNmax ${params.map_n_multimappers} --winAnchorMultimapNmax ${params.map_n_multimappers * 2}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/${params.aligner}/library/log" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}'
            ],
            [
                path: { "${params.outdir}/${params.aligner}/library" },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                enabled: false
            ],
            [
                path: { "${params.outdir}/${params.aligner}/library/unmapped" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.save_unaligned
            ]
        ]
    }
}
