
process {
    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_SPLIT_BY_GENOME_ENDO' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1"
        }
        publishDir = [
            path: { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split" },
            mode: params.publish_dir_mode,
            pattern: '*.bam',
            enabled: params.save_spikein_intermeds

        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_SPLIT_BY_GENOME_EXO' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1"
        }
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split" },
            mode : params.publish_dir_mode,
            pattern : '*.bam',
            enabled: params.save_spikein_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:SAMTOOLS_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1." +
            "${meta.genome}" +
            ".nsorted"
        }
        ext.args   = '-n'
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split/flT2" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_REMOVE_ORPHANS' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1." +
            "${meta.genome}" +
            ".flT2"
        }
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split/flT2" },
            mode : params.publish_dir_mode,
            pattern : '*.bam',
            enabled: params.save_spikein_intermeds
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1." +
            "${meta.genome}" +
            ".flT2.sorted"
        }
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split/flT2" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split/flT2" },
            mode: params.publish_dir_mode,
            pattern: '*.{bai,csi,crai}'
        ]
    }

    withName: 'GROTHLAB_CREPAS:CREPAS:BAM_SPIKEIN_SPLIT:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = {
            "${meta.id}" +
            "${params.hardtrim5_length ? '.' + params.hardtrim5_length + 'bp_5prime' : ''}" +
            "${params.hardtrim3_length ? '.' + params.hardtrim3_length + 'bp_3prime' : ''}" +
            "${params.multimap_allocation_method == 'chromap' ? '.cm_allo' : ''}" +
            ".mLb." +
            "${params.with_umi ? 'dedup' : 'mkD'}" +
            ".flT1." +
            "${meta.genome}" +
            ".flT2.sorted"
        }
        publishDir = [
            path : { "${params.outdir}/${meta.aligner}/mergedLibrary/spikein_split/flT2" },
            mode: params.publish_dir_mode,
            pattern: "*.{stats,flagstat,idxstats}"
        ]
    }
}
